[2018-11-16 20:32] daleknauss opened #2 "https not supported"
Using DocumentView in iOS and passing in a pdf with https fails with the following error:

Error: Error Domain=PTErrorDomain Code=0 "Unsupported URL scheme" UserInfo={NSURL=https://<DOCUMENT_PATH>.pdf, NSLocalizedDescription=Unsupported URL scheme, NSLocalizedFailureReason=Cannot open URL with scheme "https"}

That same document served with http works every time.

[2018-12-07 19:57] sgong-pdftron commented on #2
@daleknauss
Can you please try updating your cocoapod for PDFTron?
If you have latest in Pod file, then run `pod update`.

HTTPS issue is fixed in latest version of PDFTron iOS SDK.

Sorry for the delayed response.

[2019-03-05 14:59] dominicrico opened #5 "Building ios fails with error in RNTPTDocumentView.m"
Hi,

I try to get PDFTron running in my react-native project. I installed it with cocoaPods and yarn but if I want to run the project the build fails with following error.

File: RNTPTDocumentView.m
Line: 63

[code]

I'm using the xcworkspace project generated by cocoa and can't get it to run.

Any help would be appreciated.

[2019-03-08 19:06] sgong-pdftron commented on #5
@dominicrico
This has been fixed with commit https://github.com/PDFTron/pdftron-react-native/commit/b05e7edf4ef073b8eb1ccda10c428235a60c93ab

Could you update and try again? Thanks.

[2019-03-08 19:31] dluco-pdftron commented on #5
Hi @dominicrico
You can run `npm install` to get the latest update with the fix @sgong-pdftron mentioned.
Please let us know how this works for you. Thanks!

[2019-04-25 22:09] ericksoncst opened #6 "Unable to get provider com.pdftron.pdf.utils.ShareProvider"
Hii, My project works perfectly. But in my android 4.4 I'm getting an error.
I was trying to build with Android Studio cuz RN isn't showing this error.
I followed your guide, just in android 4.4 not work
So, in AS I receive this:

 E/AndroidRuntime: FATAL EXCEPTION: main
    Process: br.com.goread.android, PID: 14924
    java.lang.RuntimeException: Unable to get provider com.pdftron.pdf.utils.Shar

[2019-04-26 18:53] sgong-pdftron commented on #2
Closed as issue should be resolved. Re-open if the issue still persist. Thanks.

[2019-04-26 18:53] #2 closed

[2019-04-26 18:53] sgong-pdftron commented on #5
Closed as issue should be resolved. Re-open if the issue still persist. Thanks.

[2019-04-26 18:53] #5 closed

[2019-04-26 19:56] sgong-pdftron commented on #6
@ericksoncst Thanks for reporting this issue.

It seems the instruction page is missing enabling multi-dex in your app, it is added in https://github.com/PDFTron/pdftron-react-native/commit/627c0d6805e9952e8622991711fdb6996a2fce06, could you give it a try?

You can find a ready-to-run sample here as well https://github.com/PDFTron/react-native-sample. Thanks.

[2019-04-29 19:08] ericksoncst commented on #6
@justinjung04 I tried, all guide info provided on docs was included

[2019-04-29 20:52] sgong-pdftron commented on #6
@ericksoncst Did the updated sample project work for you? Thanks.

[2019-04-30 14:25] ericksoncst commented on #6
@sgong-pdftron Yep, I started a new project and works. Thank u

[2019-04-30 21:42] sgong-pdftron commented on #6
Thanks for the confirmation.

[2019-04-30 21:42] #6 closed

[2019-07-09 19:35] timkomip opened #9 "How do I enable tools (e.g. signature and drawing)"
When using `DocumentVIew`, there is a `disabledTools` prop but no prop for enabling tools. Passing `disabledTools` an empty array or removing it does not seem to do anything.

What I have:
![image](https://user-images.githubusercontent.com/3844352/60917437-f7d3f700-a25e-11e9-84d8-40ed16bcfa8d.png)

What I want (sort of. just want signature tool):
![image](https://user-images.githubusercontent.com/

[2019-07-09 22:08] dluco-pdftron commented on #9
Hi @timkomip,
You can "enable" tools (eg. signature and freehand drawing) by disabling all the other tool types. The full list of tool type constants you'll want is here:
https://github.com/PDFTron/pdftron-react-native/blob/083c929c2ec4daecc3fe4c0b947ec185df1dee4f/src/Config/Config.js#L31-L50
The `annotationCreateFreeHand` and `annotationCreateSignature` values should be left out so that those are

[2019-07-10 15:55] timkomip commented on #9
@dluco-pdftron  That does not seem to be working. I always end up with just the grab tool button. I set both `disabledElements` and `disabledTools` props with many different sets of values and I can't get it to show.

Plus, an empty array should show all tools (?) but it does not.

[2019-07-10 20:26] timkomip commented on #9
I also ran the example (which I had issues running. Had to update to RN 58.6 and reference pdftron-react-native from git instead of '..') and it also doesn't show any tool buttons besides grab tool.

[2019-07-11 18:56] lsom11 opened #11 "Show a document on ios with password protection"
When the password option is enabled on android the pdf is shown perfectly, but on ios a blank screen is shown and I'm unable to navigate off the page. It seems like on ios the password parameter isn't received.

![Screen Shot 2019-07-11 at 15 53 42](https://user-images.githubusercontent.com/27585561/61077103-16b7c200-a3f4-11e9-96d2-c09664b97a92.png)

Edit: Just for some more information in develop

[2019-07-11 19:02] dluco-pdftron commented on #9
Hi @timkomip,
Commit e9412cd0c1d163c01544039c16252012b6ebcfe4 addresses the problem where the hand is the only thing in the toolbar. You should be able to use the `disabledTools` prop now.
Please let us know how this works for you!

[2019-07-11 19:24] dluco-pdftron commented on #11
Hi @lsom11,
Thank you for letting us know about this issue! Passwords on iOS are now fully supported with commit c68c0658064d81d2a26b8562bbe8530f1e68e538.
Please let us know how this works for you. Thanks again!

[2019-07-11 19:29] dluco-pdftron commented on #11
Closing this issue, please re-open if you run into any problems.

[2019-07-11 19:29] #11 closed

[2019-07-11 19:30] dluco-pdftron commented on #9
Closing this issue - please re-open if you have any problems. Thanks!

[2019-07-11 19:30] #9 closed

[2019-07-16 14:19] lsom11 commented on #11
It seems we're still having problems opening PDFs in production. I've submitted a PR that I think resolves this problem.

[2019-07-26 20:00] timkomip opened #17 "Update example app to use react native 60.4"
Work for this is done in PR #16

Updates just the example app (in ./example) to use react native 60.4 from 55.3.

Used: https://react-native-community.github.io/upgrade-helper/

[2019-07-27 13:54] nguyenlinh93x opened #18 "[Android] Support React Navigation with React-Native-Screens"
Hi team, <br/>
Thanks for your amazing library. <br/>
I have a problem when i use pdftron with react-native-screens. My app crash if i navigate Document View ---> back previous page --> navigate Document.<br>
Currently i must disable react-native-screens to avoid crash. <br>
Below is my crash log and example. Thanks for your support.

[bugsnag.txt](https://github.com/PDFTron/pdftron-react-native/f

[2019-08-02 18:24] sgong-pdftron commented on #18
@nguyenlinh93x

Running the sample project as is, this is what I see:

![view pdf](https://user-images.githubusercontent.com/20527369/62390826-0dfc6c80-b518-11e9-992e-6bbbf38ea28c.gif)

Could you elaborate on how to reproduce the crash?
Thanks.

[2019-08-19 16:14] timkomip opened #21 "Possible memory leak in RNTPTDocumentView (iOS)"
While using this library I noticed memory usage climbing and not falling. I navigated to the page with the `DocumentView` and navigated back. Did this 4 times and recorded memory usage.

![image](https://user-images.githubusercontent.com/3844352/63281253-491dd000-c27a-11e9-94ae-e5d87e6f97ad.png)

I used Instruments to determine which objects where retained and found:
![image](https://user-images.g

[2019-08-19 21:05] dluco-pdftron commented on #21
Hi Michael,
Thanks for letting us know about this issue!
The memory leak should be fixed now with the latest commit https://github.com/PDFTron/pdftron-react-native/commit/747a0f251aa21a25b6838efdd3e8bfa7a42cdb2b.
Thanks again! Please let us know if you encounter any other issues.

[2019-08-19 21:05] #21 closed

[2019-09-03 16:10] lmeireles opened #22 "[iOS] Download event with local path"
Hi Team,

Thanks for this amazing work.

I'm experiencing some different behavior on the `onDocumentLoaded` event in iOS and Android.

On Android we have this event triggered two times:
- One with the initial path:
`https://abril.../../file.pdf`
- And one with the saved cache path (that we use to save in our localStorage):
`/data/.../cache/file.pdf`

But on iOS the event is triggered only one time

[2019-09-04 08:36] mahdidarzi opened #23 "doesn't support Persian search"
when i search Persian it doesn't work

when ever i search a total word it cant be found like : 'سلام'
but when ever i search a single character its work fine. like : 'س'

[2019-09-04 18:27] sgong-pdftron commented on #23
@mahdidarzi could you post a video demo? For Persian language to work, you will need to have right to left turned on, could you check if you have that enabled?

[2019-10-10 14:52] DanielCender opened #28 "Feature Request: Implement Completion Handler for Document Saves"
### Request
-------------

__Problem:__ In the current wrapper, there is no clearly-available method for detecting a successful save to a local location.

Common enterprise use cases for React Native applications require the use of cloud storage as a save location or background synchronization with cloud storage.

There are some useful event handlers on the native iOS PTDocumentViewController clas

[2019-10-29 19:39] #17 closed

[2020-02-19 21:10] ghills opened #43 "Latest podspec broken for React Native"
**Describe the bug**
Updating pod with the latest PDFNet pod from https://www.pdftron.com/downloads/ios/cocoapods/pdfnet/latest.podspec breaks the build of the React Native iOS project.

Error is:

This is in a project that was previously working with the PDFNet pod. I also created a new react native project and followed the steps on the README to integrate pdftron-react-native and got the same bu

[2020-02-24 18:48] dluco-pdftron commented on #43
Hi there,
Thank you for letting us know about this issue.
There was an issue with the PDFNet CocoaPod's latest.podspec that has now been fixed. Please try re-installing the PDFNet CocoaPod in the ios/ directory of your project and let us know if you still experience the problem. You may need to clear your pod cache with the following command:
`pod cache clean 'PDFNet' --all`

[2020-02-25 06:31] CorvinSteindl commented on #43
Having currently the same issue.
`pod cache clean 'PDFNet' --all` did not worked for me.

[2020-02-25 18:29] ghills commented on #43
Looks like it is working for me now - thanks

[2020-02-25 18:29] #43 closed

[2020-03-16 20:21] ghills opened #48 "Add function to set form field flag"
Add a function that can be called from Javascript to set a field flag value on multiple fields.

- iOS: https://www.pdftron.com/api/ios/Classes/PTField.html#/c:objc(cs)PTField(im)SetFlag:value:
- Android: https://www.pdftron.com/api/android/javadoc/reference/com/pdftron/pdf/Field.html#setFlag(int,%20boolean)

For our use case I would like to be able to pass in a list of field names instead of just

[2020-03-17 17:20] #48 closed

[2020-04-15 10:04] sonlexqt opened #51 "Feature request: Real time collaboration"
From PDFTron documentation, we can see the guides for real time collaboration on [Android](https://www.pdftron.com/documentation/android/guides/collab/overview-a/) and [iOS](https://www.pdftron.com/documentation/ios/guides/collab/overview-i/). How can we implement such feature using pdftron-react-native ?

[2020-04-15 14:07] velsa opened #52 "TypeScript support?"
Trying to build a new react native app using `expo init` and typescript template.
And obviously get this error:
[code]

As far as I understand, there is no `.d.ts` file for this project.
Any plans on creating/adding it?
Any ideas on how I can still use your wrapper in my typescript app?

Sorry for the newbie questions :)

[2020-04-15 20:06] sgong-pdftron commented on #52
@velsa TypeScript is not currently supported, what timeline are you looking at for TypeScript support?

[2020-04-15 20:06] sgong-pdftron commented on #51
@sonlexqt what timeline are you looking at for collaboration support? Thanks!

[2020-04-15 21:47] velsa commented on #52
The timeline for the app I'm working on is to have a first working alfa in 2-3 months.
But actually I was able to compile the app by adding a `types.d.ts` file with a line `declare module '*';`

But the issue now is that I get
[code]

when I try to run the example app.
Here's the code: https://gist.github.com/velsa/4a664cdb40cd3bbece49de03887c5ccf

[2020-04-28 18:54] sgong-pdftron commented on #51
closed by https://github.com/PDFTron/pdftron-react-native/pull/58

[2020-04-28 18:54] #51 closed

[2020-04-28 18:54] #18 closed

[2020-05-04 23:09] sgong-pdftron commented on #52
@velsa we do have other customer that are able to build and run with typescript, can you post your typescript config? Thanks.

[2020-05-09 11:06] Rana-Muhammad-Amir opened #77 "[!] CocoaPods could not find compatible versions for pod "PDFNet":"
[!] CocoaPods could not find compatible versions for pod "PDFNet":
  In Podfile:
    PDFNet (from `https://www.pdftron.com/downloads/ios/cocoapods/pdfnet/latest.podspec`)

    RNPdftron (from `../node_modules/react-native-pdftron`) was resolved to 1.0.0, which depends on
      PDFNet

Specs satisfying the `PDFNet (from `https://www.pdftron.com/downloads/ios/cocoapods/pdfnet/latest.podspec`), PDFNe

[2020-05-11 16:45] dluco-pdftron commented on #77
Hi @Rana-Muhammad-Amir, thanks for letting us know about this issue!
To install the PDFNet CocoaPod, you'll need to change your minimum target to iOS 11 in your `Podfile`:
[code]
and then run `pod install` to install the dependency.

[2020-05-31 00:21] AmmarMZ opened #91 "Invariant Violation: requireNativeComponent: "RCTDocumentView" was not found in the UIManager."
I am using expo to build an app that is running on an iPad. I ran the following code:
**Code**
[code]
Here is my **package.json**
[code]

After running the code I received the error in the title of this issue. I am not sure how to resolve the issue, any help would be appreciated. Thanks in advance!

[2020-06-01 16:43] dluco-pdftron commented on #91
Hi @AmmarMZ, thanks for letting us know about this issue!
Could you confirm that the iOS `PDFNet` CocoaPod is installed? You can find instructions here: https://github.com/PDFTron/pdftron-react-native#ios

If the `PDFNet` CocoaPod is installed, do you have a sample project with the issue? If you could include a sample project that would greatly help us. Thanks!

[2020-06-04 10:43] sonlexqt opened #92 "Merge custom-headers-fix to master branch ?"
Hi, I tried the `custom-headers-fix` and the issue of not sending the request headers on iOS has been fixed. When can you merge this branch to `master` ?

[2020-06-04 16:48] dluco-pdftron commented on #92
Hi @sonlexqt,
We can merge the `custom-header-fix` when the next official version of the PDFTron iOS SDK is released, likely next week. The branch relies on fixes/features currently only available in nightly builds and so can't be merged yet.

[2020-06-05 09:21] sonlexqt commented on #92
@dluco-pdftron great, thanks for the info!

[2020-06-05 09:21] #92 closed

[2020-06-06 20:04] AmmarMZ commented on #91
Hi dluco,

I am developing the app on a windows laptop so I am not able to run those commands. From my research I will need to ```expo eject``` in order to integrate this into the app. Is there anyway to have this function with expo without ejecting?

Thanks,
Ammar

[2020-06-08 15:09] sgong-pdftron commented on #91
@AmmarMZ
Unfortunately that is not possible. This package requires modification to native modules so you will need to eject. Thanks.

[2020-07-10 07:23] divyaponnurucmsedge opened #113 "[Android] Build Exception"
FAILURE: Build failed with an exception.

* Where:
Script 'E:\NativeApps\PdfTron\node_modules\@react-native-community\cli-platform-android\native_modules.gradle' line: 195
* What went wrong:
A problem occurred evaluating script.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more he

[2020-07-10 15:29] divyaponnurucmsedge commented on #113
please help me to solve that issue

[2020-07-10 15:30] divyaponnurucmsedge commented on #113
please help me to solve that issue

[2020-07-10 15:44] sgong-pdftron commented on #113
@divyaponnurucmsedge
1. please make sure your app can run before adding this module
2. please follow https://github.com/PDFTron/pdftron-react-native#installation step by step

The error shown doesn't really have anything to do with this module. So it likely means your project is not setup correctly. Thanks.

[2020-07-12 16:28] divyaponnurucmsedge opened #115 "fn.apply is not a function"
[Sun Jul 12 2020 21:46:06.258]  BUNDLE  ./index.js

error: index.js: fn.apply is not a function

[2020-07-12 16:29] #115 closed

[2020-07-12 16:33] divyaponnurucmsedge opened #116 "fn.apply is not a function"
I am getting the below error when integrating the PDFTron/pdftron-react-native into my application .

BUNDLE  ./index.js

error: index.js: fn.apply is not a function.

please help me to solve that issue....

[2020-07-12 16:34] divyaponnurucmsedge commented on #116
please help me to solve that issue.

[2020-07-13 16:11] sgong-pdftron commented on #116
@divyaponnurucmsedge seems like you are getting problem about React Native that is not related to PDFTron. Maybe you can start with a simpler application, i.e. start with a hello world template provided by the platform first. https://reactnative.dev/docs/environment-setup

[2020-07-13 16:11] #113 closed

[2020-07-13 16:11] #116 closed

[2020-07-13 16:11] #77 closed

[2020-07-13 16:12] #91 closed

[2020-07-13 16:13] divyaponnurucmsedge commented on #116
Can we remove any features in pdftron like sharing feature

On Mon, 13 Jul 2020, 21:41 sgong-pdftron, <notifications@github.com> wrote:

[2020-07-13 16:19] sgong-pdftron commented on #116
@divyaponnurucmsedge yes for sure, you can remove any menu in the main toolbar. Were you able to get your application up and running?

[2020-07-13 16:24] divyaponnurucmsedge commented on #116
Yeah....its working fine. I just want to remove sharing feature in that.

On Mon, 13 Jul 2020, 21:49 sgong-pdftron, <notifications@github.com> wrote:

[2020-07-13 19:01] sgong-pdftron commented on #116
You can use `disabledElements` API to hide `Config.Buttons.shareButton`
https://github.com/PDFTron/pdftron-react-native#disabledelements

[2020-07-15 05:05] divyaponnurucmsedge commented on #116
can we edit word document in pdftron.

On Tue, Jul 14, 2020 at 12:31 AM sgong-pdftron <notifications@github.com>
wrote:

[2020-07-15 16:40] sgong-pdftron commented on #116
@divyaponnurucmsedge it is possible to convert the word document to PDF then edit it with PDFTron.

[2020-07-16 05:36] divyaponnurucmsedge commented on #116
can we open html page in pdftron

On Wed, Jul 15, 2020 at 10:10 PM sgong-pdftron <notifications@github.com>
wrote:

[2020-09-25 15:47] soymanuvalle opened #137 "Does this support react-native-windows?"
Hello, on our company we're currently using the webviewer-ui for the Web and Xamarin for the mobile apps and windows uwp. We're looking to switch to react-native and I was wondering if this package is compatible with https://github.com/microsoft/react-native-windows or if special bindings should be developed to make it work.

Thanks

[2020-09-25 16:17] sgong-pdftron commented on #137
@soymanuvalle special binding will be needed for windows module. Currently this library only supports Android and iOS. If you could contact us via https://www.pdftron.com/form/request/ with your current UWP application, we may be able to have better insight to the scope of the UWP react-native project. Thanks!

[2020-09-25 16:23] soymanuvalle commented on #137
Thanks for the quick reply! No problem, we'll make the windows apps on electronJS with react and the mobile apps with this react-native package

[2020-09-25 16:23] #137 closed

[2020-10-05 14:05] shrooosher opened #140 "Non-public API usage in PDFNet.framework"
When I'm trying to add project to testflight getting error message from Apple. Please fix that.

[2020-10-05 19:07] sgong-pdftron commented on #52
Typescript is fully supported, see new sample project: https://github.com/PDFTron/pdftron-react-and-react-native-sample

[2020-10-05 19:07] #52 closed

[2020-10-07 13:20] shrooosher commented on #140
Was fixed in new  version of PDFNet. Thanks.

[2020-10-07 13:20] #140 closed

[2020-11-02 10:03] Epick362 opened #153 "Unable to build: No visible @interface"
**Describe the bug**
Building on iOS fails with message:
[code]

When I comment out the line
```[super pdfViewCtrl:pdfViewCtrl downloadEventType:type pageNumber:pageNum];```
in `RNTPTDocumentViewController.m`
**and**
```[super pdfViewCtrl:pdfViewCtrl downloadEventType:type pageNumber:pageNum];```
in `RNTPTCollaborationDocumentViewController.m`

the project **builds successfully** so this is a vali

[2020-11-03 12:01] JeremyBradshaw7 opened #154 "showLeadingNavButton having no effect"
Following the sample code I'm including these props in my DocumentViewer:

[code]

I'm expecting some back icon to be shown (where should it be? top left?) but nothing is shown (on iOS in dev mode at least). Are we expected to put the image resources somewhere or are they automatically bundled as part of the pdftron package? How would we supply our own? There's nothing in the readme to describe th

[2020-11-03 12:58] JeremyBradshaw7 opened #155 "IOS Export Failure"
I've been running this package fine in dev mode but in attempting to bundle a test release it's failing at the export stage:

[code]

It seems to be complaining about PDFNet. Could anyone offer any help?

[2020-11-03 14:52] JeremyBradshaw7 commented on #155
Is this a restriction of the trial licence? I'm trying to do an ad-hoc build for internal testing via testfairy, not a production build.

[2020-11-03 15:57] sgong-pdftron commented on #154
@JeremyBradshaw7 yes, you will need to add the icon shown here: https://github.com/PDFTron/pdftron-react-native/tree/master/example/ios. Could you give a try? You can supply any icon and change the code to the actual name accordingly.

We will look into updating the documentation.

[2020-11-03 16:03] JeremyBradshaw7 commented on #154
Thanks. Add it to where though? On android the specified icon just shows without me putting it anywhere, on ios it doesn't. I'm happy to stick with a default icon but just specifying showLeadingNavButton={true} without an icon but that doesn't seem to work either.

[2020-11-03 17:05] JeremyBradshaw7 commented on #154
Copied it to my ios folder and it still doesn't show for some reason.

[2020-11-03 18:09] JeremyBradshaw7 commented on #155
I upgraded xcode from 11.2.1 to 12.1 and it seemed to resolve this issue.

[2020-11-03 18:09] #155 closed

[2020-11-03 18:15] JamieDass commented on #154
Hi @JeremyBradshaw7,

Apologies for the confusion.
After running `pod install` there should be an `xcworkspace` which contains your app project. You should open that workspace in Xcode and then drag the icons into your app project. The button icon should then appear correctly in your app.
This is how that should look in Xcode:
![RN_icons](https://user-images.githubusercontent.com/20866295/98024329

[2020-11-03 18:30] JamieDass commented on #153
Hi @Epick362,

It sounds like you may be using an older version of the React Native PDFTron wrapper.
Are you able to update to a more recent version of the wrapper and check if the build problem still occurs?

[2020-11-03 20:08] JeremyBradshaw7 commented on #154
Yes thanks, if no icon is supplied a Cancel link is shown on iOS, is that localisable to 'Back' somehow?

[2020-11-03 20:22] JamieDass commented on #154
Hi @JeremyBradshaw7,

Sorry that was a typo in the earlier PR. There should just be an 'X' icon image instead of the `Cancel` text.
This has now been fixed in https://github.com/PDFTron/pdftron-react-native/pull/157.

[2020-11-03 20:45] JeremyBradshaw7 commented on #154
Excellent thanks, working well.

[2020-11-03 20:45] #154 closed

[2020-11-04 12:19] JeremyBradshaw7 opened #158 "cannot find symbol ON_BOOKMARK_CHANGED"
[code]

Getting this error compiling for Android. It's occurring since I upgraded to the latest 2.0.1-beta.22, if I backtrack to 2.0.1-beta.19 it clears itself.

[2020-11-04 13:56] JeremyBradshaw7 commented on #154
Unfortunately this has introduced a build issue on Android - see https://github.com/PDFTron/pdftron-react-native/issues/158

[2020-11-06 18:39] sgong-pdftron commented on #158
@JeremyBradshaw7 this should be resolved already in latest. Could you try again? Thanks.

[2020-11-06 18:39] #158 closed

[2020-11-06 18:55] JeremyBradshaw7 commented on #158
Yes thanks cleared with version 2.0.2

[2020-11-09 10:24] JeremyBradshaw7 opened #160 "Android Status Bar issue"
Any react native page which includes this component seems to force the page up to be rendered underneath the Android status bar, so partly hidden. While `padStatusBar` can be used, this assumes that the pdf is displayed full screen. I'm displaying pdfs under a header and tab control, so when a pdf is rendered without `padStatusBar` it has this effect (the top bit of the header is occluded):

![ima

[2020-11-09 11:24] Epick362 commented on #153
@JamieDass you are right, I didn't notice the PDFNet url in Podfile changed. Thank you for the advice

[2020-11-09 11:24] #153 closed

[2020-11-10 02:16] sgong-pdftron commented on #160
@JeremyBradshaw7 The viewer does not assume location of your view. So in this case, you can use https://reactnative.dev/docs/statusbar to define your layout instead of `padStatusBar` prop. Could you please give a try?

[2020-11-10 10:18] JeremyBradshaw7 commented on #160
I'm not sure what you mean. The issue is that the DocumentView control, as soon as it is displayed, has the side-effect on the containing page in that it is losing its top padding that normally forces it to be rendered below the android status bar. The page doesn't know if there is a DocumentView being displayed as that may be buried deep in the subcomponent hierarchy. I do think its a bug that a

[2020-11-10 16:43] sgong-pdftron commented on #160
@JeremyBradshaw7 is your app in full screen mode? (i.e. hides all system controls?)
Could you send us exact layout so we can try on our end? Thanks.

[2020-11-10 16:48] JeremyBradshaw7 commented on #160
@sgong-pdftron no it's not, see description, I show it under a header and a tab control, but it should be reproducible on any page where it's not at the top of the screen on android, eg:

[code]

[2020-11-12 22:16] sgong-pdftron commented on #160
![image](https://user-images.githubusercontent.com/20527369/99002622-90345880-24f1-11eb-8516-088e42fe8b39.png)

@JeremyBradshaw7 I'm having some difficulty reproducing on my end. However there is major changes in the viewer in the latest version. Could you update and give another try?

Thanks.

[2020-11-13 13:56] JeremyBradshaw7 commented on #160
@sgong-pdftron thanks yes version "2.0.3-beta.1" with the new UI doesn't seem to have this issue.

[2020-11-13 13:56] #160 closed

[2020-11-26 08:16] hoaphantn7604 opened #173 "[Tablet IOS] Cannot show bottom tool bar in Tablet IOS"
![Simulator Screen Shot - iPad Pro (9 7-inch) - 2020-11-26 at 15 14 38](https://user-images.githubusercontent.com/50919571/100324775-458b0400-2ffa-11eb-952f-589c27f5006e.png)

[2020-12-10 12:10] aftabaminzoobiapps opened #185 "npm package not found."
I tried the following commands but n0o one is working.

[2021-01-12 21:03] JamesTron commented on #173
On tablets, the navigation/search buttons and presets bar are all shown at the top. Only on iPhone is there a bottom bar. So this is as-designed.

[2021-01-12 21:03] #173 closed

[2021-01-12 21:20] Maxwell-Yang-PDFTron commented on #185
@aftabaminzoobiapps could you please attach the error message? I cannot replicate this problem by using your first command. The [guide](https://github.com/PDFTron/pdftron-react-native) on our repo might provide useful information for you in this scenario.

[2021-01-26 15:51] grin4ello2 opened #205 "App crashes on android 9"
**Describe the bug**
When you create screen with **DocumentView** - app will crash after you try to load that screen. Same result for files loaded from storage or from remote url.
Works fine for android 10 OS.

**Steps to Reproduce the Problem**
1. Install latest version of react native PDFTron on android 9
2. Open screen with **DocumentView** component
3. Allow access to storage if necessary.
4.

[2021-01-26 19:14] Maxwell-Yang-PDFTron commented on #205
Hello grin4ello2! Unfortunately, I could not seem to reproduce this bug, on an Android 9 (Pie) simulator. If possible, could you please provide the react native code you used to produce this bug? Thank you!

[2021-01-26 19:22] grin4ello2 commented on #205
https://gist.github.com/grin4ello2/7c445af114f5e2effb133e49a15637a8

[2021-01-26 19:56] Maxwell-Yang-PDFTron commented on #205
Sorry, your example involves the use of some other parts of a project, so I would not be able to use easily. If possible, could you run this repo in your Android 9 device, and see if anything breaks? Thank you! https://github.com/PDFTron/react-native-sample

[2021-01-27 07:14] grin4ello2 commented on #205
It’s work for me with https://github.com/PDFTron/react-native-sample <https://github.com/PDFTron/react-native-sample>. Will try to find out whats wrong on my project.

[2021-01-27 11:17] Frekansapp commented on #28
I need this feature too

[2021-01-27 11:31] Frekansapp opened #206 "Lack of documentation"
Hi, i'm trying to implement pdfTron into my RN project but i can't find what i'm searching.
There is no code example about how can i add custom header or how can i use other pdftron's API.

What is the working logic of autosave? What i'm trying to basicly reupload changed document to my server. Can i add custom button to ui and save document to my server. I need code examples. Could you please sha

[2021-01-27 13:56] grin4ello2 commented on #205
@Maxwell-Yang-PDFTron
yarn insall installing PdfTron for android with
dependencies {
    implementation "com.facebook.react:react-native:+"

    implementation "com.pdftron:pdftron:7.1.5"
    implementation "com.pdftron:tools:7.1.5"
    implementation "com.pdftron:collab:7.1.5"
}
and npm install installing
dependencies {
    implementation "com.facebook.react:react-native:+"

    implementation "c

[2021-01-27 15:46] sgong-pdftron commented on #205
@grin4ello2 Could you please updated to the latest version of Android. Older versions are no longer supported for React Native. Does 8.1.1-beta07 work for you? Thanks.

[2021-01-27 16:22] grin4ello2 commented on #205
Already updated. You can close issue, thanks.

[2021-01-27 16:51] #205 closed

[2021-01-27 18:06] Maxwell-Yang-PDFTron commented on #206
Hi Frekansapp, I am sorry to hear that you are having trouble using our API. We are working on a refinement of the API page, but all of the entries should have a small code example attached to them currently on master by now (https://github.com/PDFTron/pdftron-react-native/blob/master/README.md), including [customHeaders](https://github.com/PDFTron/pdftron-react-native/blob/master/README.md#custom

[2021-01-28 10:57] Frekansapp commented on #206
Hi, thanks for answer. Can i add new NavButton? Actualy i didn't understand what is the navbutton is it bottom nav buttons? Could you please share image? Can i add a button on bottom tab?

[2021-01-28 20:20] Maxwell-Yang-PDFTron commented on #206
Hello Frekansapp, the leadingNavButton is circled in the screenshot I have attached. We currently only allow users to make change to this button. If you wish to add a button to the bottom, I would suggest hiding our bottom toolbar through [bottomToolbarEnabled](https://github.com/PDFTron/pdftron-react-native#bottomtoolbarenabled) and build your custom toolbar in React Native.

![Simulator Screen S

[2021-02-01 11:20] Frekansapp commented on #206
@Maxwell-Yang-PDFTron Thanks for your answer it's help too much. I found a bug i will open a new issue

[2021-02-01 13:23] #206 closed

[2021-02-02 09:48] Frekansapp opened #209 "onAnnotationChanged is not firing when we use the free drawing tool at the first use"
Hi,
After embedding pdftron in our react native app, we upload a pdf file and open it. After opening the file, when we want to make a change (in our case drawing a line on the pdf file) by using the free drawing pen (let's abbreviate as FDP).

We select from the top menu, the FDP and draw a random line. When we do this and try to save the file, it does not save the changes made on the file. But if

[2021-02-02 15:50] sgong-pdftron commented on #209
Hi @Frekansapp the FDP is meant to be multi-stroke. If you would like to end the drawing session early, you can call commitTool (https://github.com/PDFTron/pdftron-react-native#committool). Could you give a try?

Thanks.

[2021-02-03 17:35] grin4ello2 opened #210 "saveDocument method returns wrong file."
**Describe the bug**
When working with images on latest version of Pdftron(Android), after making changes - saveDocument method returns image file without changes.

**Steps to Reproduce the Problem**
1. Open image file
2. Add changes to file
3. Call saveDocument method
4. Promise returns with image file without any changes

**Expected behavior**
On previous version and on iOS version of your app s

[2021-02-03 18:54] sgong-pdftron commented on #210
@grin4ello2 this issue is resolved by https://github.com/PDFTron/pdftron-react-native/pull/211.
Could you please update and try again? Thanks.

[2021-02-03 18:54] #210 closed

[2021-02-03 19:40] grin4ello2 commented on #210
Returns pdf file now, thanks for quick fix.

[2021-02-04 08:06] grin4ello2 commented on #210
@sgong-pdftron saveDocument returns file without changes.

[2021-02-04 08:10] grin4ello2 opened #212 "saveDocument method returns wrong file without changes."
Describe the bug
When working with images on latest version of Pdftron(Android), after making changes - saveDocument method returns pdf file without changes.

Steps to Reproduce the Problem

Open image file
Add changes to file
Call saveDocument method
Promise returns with pdf file without any changes
Expected behavior
On previous version and on iOS version of your app saveDocument method was retur

[2021-02-04 16:42] sgong-pdftron commented on #212
@grin4ello2 I'm able to reproduce the problem. Will update you asap.

Thanks.

[2021-02-05 08:34] Frekansapp commented on #212
I had it same problem and i changed the pdf path like this  const path = `${metrics.URL}/${props.item.url.replace(/[\\]/g, '/')}`
and it's worked for me. Maybe it's help.

[2021-02-05 08:36] Frekansapp commented on #209
Where is the commit tool ? I couldn't find it.

[2021-02-05 15:40] sgong-pdftron commented on #212
We will have a fix pushed either today or early next week. Thanks.

[2021-02-05 15:51] sgong-pdftron commented on #209
Sorry we updated our API page, the new link is here:
https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#committool

[2021-02-06 10:44] Frekansapp commented on #209
Before i save called this method this.viewer.setToolMode(Config.Tools.annotationCreateFreeHand);
and then save it. It's working for now. Thank for your answer but coomit tool does not fit my scenario

[2021-02-08 15:53] sgong-pdftron commented on #209
@Frekansapp I see, it is strange that commit tool did not work for you, and glad switching tool is working for you instead.
I would recommend using Config.Tools.pan instead (it should serve the same purpose, while go back to panning mode to avoid any further drawing.

[2021-02-08 15:53] #209 closed

[2021-02-08 16:21] sgong-pdftron commented on #212
@grin4ello2 This issue is now resolved in latest master. Could you update and try again? Thanks.

[2021-02-08 16:22] #212 closed

[2021-02-08 18:55] grin4ello2 commented on #212
It’s work fine for me. Thanks for fix.

[2021-02-10 13:51] Frekansapp opened #214 "File Names Containing Space"
Hello,

We cannot open the pdf files whose urls contain space in the file name. We get a warning message "error opening file".

Could you please help us in solving the problem?

Thank  you in advance.

[2021-02-10 15:42] sgong-pdftron commented on #214
@Frekansapp would you be able to send us a example for testing? Thanks.

[2021-02-10 16:05] Frekansapp commented on #214
I tried on your example project

[2021-02-10 16:06] sgong-pdftron commented on #214
@Frekansapp I mean an example URL?

[2021-02-10 16:08] sgong-pdftron commented on #214
Also typically you won't have space in URL, you will need to encode the URL to include special character that represent the empty space, a typical example would be: https://pdftron.s3.amazonaws.com/custom/downloadertest/sg/test%20js.pdf

[2021-02-10 16:34] Frekansapp commented on #214
`https://testapi.denetmen.app/uploads/MuglaAltin/1756264/pdf/54895310504497_PDFTRON MOBİLE_about.pdf`
https://testapi.denetmen.app/uploads/MuglaAltin/1756264/pdf/54895310504497_PDFTRON%20MOB%C4%B0LE_about.pdf

Yes, i know that but browser's can handle, why pdfTron wouldn't. I'have 5000+ document if pdfTron can't open them i have to change it all.

[2021-02-10 16:38] sgong-pdftron commented on #214
@Frekansapp thanks for the example, sure we could encode on our end.
May I ask if you are having this issue on both platforms or just one, if so, which? Thanks.

[2021-02-10 17:06] Frekansapp commented on #214
I did not have a chance to try ios. I just tried it for Android.

[2021-02-10 21:51] sgong-pdftron commented on #214
@Frekansapp this should be resolved in latest master, could you update and try again, thanks.

[2021-02-10 21:51] #214 closed

[2021-02-19 12:03] grin4ello2 opened #217 "Clicking undo in the Android app on the Mark up does not delete everything then the app closes and a random app opens"
**Steps to Reproduce the Problem**
https://user-images.githubusercontent.com/61944382/108502201-7a3ded00-72c3-11eb-8718-d3075efc313d.mp4

**Platform/Device Information (please complete the following information if applicable):**
 - Platform: Android
 - Device: Samsung Galaxy S8
 - OS: Android 10

[2021-02-19 15:52] sgong-pdftron commented on #217
@grin4ello2 could you send us this exact file shown in the video so we could try on our end? Thanks.

[2021-02-19 18:13] grin4ello2 commented on #217
That was just a photo make from same phone.

[2021-02-19 18:26] grin4ello2 opened #218 "saveDocument method returns wrong file without changes"
**Describe the bug**
When working with images on latest version of Pdftron(iOS), after making changes - saveDocument method returns pdf file without changes. It was fine 11 days ago when I was posting same Bug for Android.

**Steps to Reproduce the Problem**

Open image file
Add changes to file
Call saveDocument method
Promise returns with pdf file without any changes
Expected behavior
On previous

[2021-02-19 18:48] sgong-pdftron commented on #217
@grin4ello2 the reason I'm asking is i'm having trouble reproducing on my end:

![ezgif-2-911d5a87c845](https://user-images.githubusercontent.com/20527369/108547928-fb838880-729f-11eb-859b-e7f59fd8e96b.gif)

Any help is appreciated. Thanks.

[2021-02-19 20:36] Maxwell-Yang-PDFTron commented on #218
Hello grin4ello2, unfortunately I cannot reproduce this bug on my end.

I tried to reproduce using the following steps:
- Use the example app in React Native, but with slight modification (change path to an image, and call saveDocument when onLeadingNavButtonPressed is activated)
- Add some annotations to the image, and click on the "X" icon (leading navigation button).
- Use the path from saveDoc

[2021-02-19 20:47] Maxwell-Yang-PDFTron commented on #218
As a follow-up, you could also use this branch: https://github.com/PDFTron/pdftron-react-native/tree/saveImageDemo. The only change is mentioned in the steps of the previous comment.

[2021-02-20 05:07] grin4ello2 commented on #218
Try that steps without pressing "X" icon after adding. You will see your annotations on screen, but onAnnotactionChange method won't fire. If you call saveDocument file will save without changes. User should always press "X" before saving document?

[2021-02-21 10:04] grin4ello2 commented on #218
Also some annotations don’t have that X  image

[2021-02-22 03:15] canyuegongzi opened #219 "build error"
* What went wrong:
Could not determine the dependencies of task ':app:mergeDebugAssets'.

     Searched in the following locations:

[2021-02-22 17:22] Maxwell-Yang-PDFTron commented on #218
Hi grin4ello2, the "X" I was referring to is not associated with any annotation, but rather the leading navigation button, aka this highlighted button:
![Simulator Screen Shot - iPod touch (7th generation) - 2021-02-22 at 09 14 39](https://user-images.githubusercontent.com/70409796/108744487-d46ec600-74ee-11eb-873d-83b75baead8a.png)

Users would not need to press anything manually, I just defined

[2021-02-22 18:48] Maxwell-Yang-PDFTron commented on #219
Hi canyuegongzi. Unfortunately, I failed to reproduce this bug. Could you confirm that you have followed all the steps here (https://github.com/PDFTron/pdftron-react-native#installation)? Or try to run the demo in our repo (in the example folder) and see if the problem exists. If the issue persists, feel free to add a follow-up comment and provide the detailed steps to reproduce it. Thank you!

[2021-02-25 10:36] grin4ello2 commented on #218
https://user-images.githubusercontent.com/61944382/109140892-240ef500-776e-11eb-9d3f-6d909f2fcf23.mov

I think I found the problem. onAnnotationChanged doesn't fire when we add some of annotations.

[2021-03-02 18:16] Maxwell-Yang-PDFTron commented on #218
Hi grin4ello2, currently pencil kit and ink tool do not fire the onAnnotationChanged event until it is unselected from the toolbar. At around 0:16 - 0:19 of your video, you selected the freehand tool (so pencil kit is unselected), which called onAnnotationChanged and onExportAnnotationCommand event (so you could see something printed on your terminal).

[2021-03-02 18:27] grin4ello2 commented on #218
currently pencil kit and ink tool do not fire the onAnnotationChanged event until it is unselected from the toolbar

Do you have any plans to fix it in near future?

[2021-03-02 19:16] Maxwell-Yang-PDFTron commented on #218
@grin4ello2 ink tool is likely to be updated soon, bu not for pencil kit for some file size reasons.

[2021-03-10 01:16] soymanuvalle opened #225 "[HELP] "FloatingView" with react-native. How to render components fixed to pages"
Hello. I'm trying to render custom components over pages and get them fixed to the scrolling position while moving around the PDFTron viewer ScrollView. On the webviewer I've done it modifying the elements of the iframe with js, on the mobile apps I've found that this has to be made with a [UIView](https://www.pdftron.com/documentation/ios/guides/advanced/adding-a-uiview-to-a-pdf-page/), however,

[2021-03-10 16:23] soymanuvalle commented on #225
@sgong-pdftron Thanks, I've tried with that but I didn't figure out how to attach the components to the page position while scrolling. I've been able to draw a rectangle with native code forking the repo
![image](https://user-images.githubusercontent.com/9582420/110661423-51629680-81a3-11eb-866d-224ec0de6568.png)
It works fine but now I would have to figure out how to pass react components inside

[2021-03-10 16:41] soymanuvalle commented on #225
Awesome thanks. I'll give it a try and I'll let you know

[2021-03-10 17:56] sgong-pdftron commented on #225
Could you post a screenshot of what the current behaviour is and what the expected behaviour is?

can add, @Maxwell-Yang-PDFTron will follow up with PR for that

[2021-03-10 19:19] soymanuvalle commented on #225
@sgong-pdftron

This is the current behaviour with React Native Components.

https://user-images.githubusercontent.com/9582420/110682555-d48ee700-81b9-11eb-9d49-1ac837ea7da9.mov

The code from the video above is actually a View with absolute position which is rendered above the DocumentView component:
[code]

And this is what I'm trying to do:

https://user-images.githubusercontent.com/9582420/110

[2021-03-10 22:10] sgong-pdftron commented on #225
@soymanuvalle purely based on the end video that you are trying to achieve, it seems like adding image stamps and you handle the click events yourself may be the easiest way. Basically each of those element will be an image stamp annotation added on the document, they can each have an id and you can decide what to do with it when you click on it. How does that sound?

[2021-03-10 22:38] soymanuvalle commented on #225
No that wouldn't work out as some of the components are displayed inline (not in a modal but over the actual page), and those could be videos, carousels, etc.

[2021-03-10 22:48] sgong-pdftron commented on #225
In that case you will have to sync with the scroll/layout events. Position the view under the toolbar, we could probably provide the height of the bar.

[2021-03-10 22:58] soymanuvalle commented on #225
Is it possible to add an event such as onScroll or something like that in which I could receive the scrollview positions?

[2021-03-10 22:58] Maxwell-Yang-PDFTron commented on #225
onLayoutChanged PR: https://github.com/PDFTron/pdftron-react-native/pull/227

[2021-03-11 23:34] 3imed-jaberi opened #228 "question about sticky note tool"
How I can customize the user interface of the sticky note tool ?

I want to add some things like forms fields (inputs, buttons to send data or navigate to camera screen, import files/images ...etc).

![image](https://user-images.githubusercontent.com/43971542/110869408-ac42dd80-82ca-11eb-904a-9e7ed18e8571.png)

[2021-03-11 23:40] sgong-pdftron commented on #228
@3imed-jaberi what you mocked up is very custom, so you will have to build that yourself. I would recommend building it in React Native and handle the tap event of the sticky note annotation. But by PDF spec the content needs to be plain text. How are you planning to include the extra information to the annotation?

[2021-03-12 00:33] 3imed-jaberi commented on #228
@sgong-pdftron, thank you for fast reply <3. I'm not sure yet. I still try to discover the SDK for my next project. Maybe I will be saving the information with the same annotation id or something like that ...

You recommend to use something like this:
[code]

[2021-03-12 20:14] 3imed-jaberi commented on #228
How I can block the popup ?!

My Current Code:

[code]

Current Result:

![demo](https://user-images.githubusercontent.com/43971542/110992088-bc63c700-8375-11eb-97c9-46c0e8548124.gif)

Also kindly, can I edit xfdfCommand directly beceause I'm thinking of save the information form as string inside the content tag of xfdfCommand ..
[code]

[2021-03-12 20:33] sgong-pdftron commented on #228
@3imed-jaberi to clarify, what you would like to do is when you tap the screen with the sticky note selected, you'll want to show your own dialog?

[2021-03-12 20:50] 3imed-jaberi commented on #228
Yes exactly

[2021-03-12 21:15] sgong-pdftron commented on #228
We will need to add supporting API for this, we will update here when that's ready

[2021-03-13 00:09] sgong-pdftron commented on #219
No more info obtained, will close for now.

[2021-03-13 00:09] #219 closed

[2021-03-13 00:10] #218 closed

[2021-03-13 00:10] sgong-pdftron commented on #217
No more info obtained, closed for now.

[2021-03-13 00:10] #217 closed

[2021-03-13 00:11] sgong-pdftron commented on #185
No more info obtained, close for now.

[2021-03-13 00:11] #185 closed

[2021-03-13 00:12] #22 closed

[2021-03-13 00:13] Maxwell-Yang-PDFTron commented on #225
You might find this PR helpful too: https://github.com/PDFTron/pdftron-react-native/pull/229. It has onScrollChanged event + coordinate conversion functions.

[2021-03-13 00:13] sgong-pdftron commented on #23
No more info obtain, close for now

[2021-03-13 00:13] #23 closed

[2021-03-13 00:16] soymanuvalle commented on #225
That's great thanks

[2021-03-13 00:23] sgong-pdftron commented on #225
@soymanuvalle Just wanted to let you know that I've had a discussion with the team, we believe it might be unlikely that you could get the performance you want by attaching the view in react native, as there is a lot of scroll/zoom event that you will need to follow up. But do let us know if it works out for you. Thanks!

[2021-03-13 01:14] soymanuvalle commented on #225
@sgong-pdftron Thanks for the update. I've been able to render React Native components as subviews of the Native UIView floating view, however I'm still not totally happy about it so I'm trying a different approach with the onScrollChanged event and other callbacks.

I will write again here when I get more updates about the progress.

Thanks

[2021-03-15 19:39] soymanuvalle commented on #225
@sgong-pdftron @Maxwell-Yang-PDFTron After spending a few hours trying different attempts I finally ended up passing the JSON data to the native DocumentView component and rendering the "floating" components entirely native. It was the most optimized way, passing react components as children was taking too much RAM.

Although I will render the modal on react, sending an event from the native code

[2021-03-15 19:39] #225 closed

[2021-03-19 08:05] Maxwell-Yang-PDFTron commented on #228
@3imed-jaberi master should have what you need by now: use [overrideBehavior](https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#overridebehavior) to disable the popup of sticky note, then either [onBehaviorActivated](https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#onbehavioractivated) or [onAnnotationsSelected](https://github.com/PDFTron/pdftron-react-native/blo

[2021-03-19 14:39] sertiano93 opened #234 "Disable stamp and multi select inside Insert annotation"
I want my users to only be able to sign and read documents but I can't seem to find a way to hide the stamp and Multi Select inside the insert annotation. Do you know which one of the tools it is that corresponds to stamp and multi-select because I have tried them all without any success to hide it .

My second question is regarding inserting an option to "send" the document, i.e when the user hav

[2021-03-19 19:20] Maxwell-Yang-PDFTron commented on #234
Hello @sertiano93. Regarding your first question, there are some internal TODOs for toggling some of the tools, which would be updated (maybe not in the near future). In the meantime, based on your requirement, you could use something like this using [annotationToolbars](https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#annotationtoolbars) to work around it:

`
const myToolbar = {

[2021-03-21 14:30] sertiano93 commented on #234
@Maxwell-Yang-PDFTron
Thanks for the answers. It was what I needed !

[2021-03-21 14:30] #234 closed

[2021-03-25 12:27] 3imed-jaberi commented on #228
@Maxwell-Yang-PDFTron @sgong-pdftron , thank you for your quick interaction.
I will check the new features and give you my feedback.

[2021-03-25 14:18] 3imed-jaberi commented on #228
@sgong-pdftron @Maxwell-Yang-PDFTron, the 2 methods (`onBehaviorActivated` and `onAnnotationsSelected `)  don't listen to the `overrideBehavior`. Otherwise the `onExportAnnotationCommand` method still listen when I drag and drop or modify the place of the sticky note but I expect to listen also when I click or double click over the icon of the sticky note.

[2021-03-25 20:09] Maxwell-Yang-PDFTron commented on #228
@3imed-jaberi onBehaviorActivated would only be called if the action (in this case, disable sticky-note pop-up) is passed in overrideBehavior, and onAnnotationsSelected would be called whenever any annotation is selected.

I have updated the code a bit, so now it should be listening correctly. However, these functions could be called more than once on Android for now, even if you only select the s

[2021-03-26 01:27] 3imed-jaberi commented on #228
@Maxwell-Yang-PDFTron, thank you for your effort.
As you say, these functions could be called more than once on Android. And I noticed that I lose all the sticky notes other than the last one (this had not happened previously).

![lost-sticky-notes-demo](https://user-images.githubusercontent.com/43971542/112563940-978e3b80-8dda-11eb-8443-597a791cf9db.gif)

[2021-03-26 14:59] sgong-pdftron commented on #228
@3imed-jaberi would it be possible if you could share a project where we can reproduce this on our end? Thanks!

[2021-03-26 22:59] 3imed-jaberi commented on #228
@sgong-pdftron, of course welcome,  I was added U and @Maxwell-Yang-PDFTron. [link](https://github.com/3imed-jaberi/pdf-annotation-prototype)

[2021-03-30 01:22] Maxwell-Yang-PDFTron commented on #228
Hi @3imed-jaberi, after checking your repo, it seems you are calling importAnnotation with an xfdfCommand, which is not a correct way.

- importAnnotations takes in an xfdf string, representing the annotations to be added to the document
- importAnnotationCommand takes in an xfdf string too, but this represents the actions / commands to be made to the document

For example, this is an xfdf string

[2021-03-31 00:35] soymanuvalle opened #242 "Toggle buttons visibility inside "View Settings" view"
Hello, for the app I'm developing we need hide/show the buttons located inside this view dynamically.

![image](https://user-images.githubusercontent.com/9582420/113069543-f49d3f00-9196-11eb-8af1-0253c6a76efb.png)

How could we do this? If it isn't supported yet, could you give me an orientation of how could I do this with native iOS code please?

Thanks

[2021-03-31 23:46] 3imed-jaberi commented on #228
Thank u @Maxwell-Yang-PDFTron, but I use `importAnnotationCommand` with my xfdfCommand and yours also but always tell me that I have an error `[Error: XML Parsing error]` ..

[2021-04-01 11:56] HelloTiago opened #248 "Can't see annotations created by the currentUser with collabEnabled"
**Describe the bug**
Annotations created by the current user don't show up when importing annotations via `importAnnotationCommand` with `collabEnabled` and `currentUser` set to the current user's name. Only annotations created by other users with a different name will show up.

**Steps to Reproduce the Problem**
1. Initialize `DocumentView` with `collabEnabled` and the currentUser's name:
[code]

[2021-04-02 08:12] Maxwell-Yang-PDFTron commented on #248
Hi @HelloTiago, unfortunately I cannot reproduce this bug following your steps. It is highly unlikely that this is an issue with our native SDK. Based on your implementation, it seems you are storing the xfdf commands whenever there is an annotation change in the document, and importing all of them onto a clean document. This should be a viable way to import the annotations. If you are sure that y

[2021-04-05 13:32] HelloTiago commented on #248
Hi @Maxwell-Yang-PDFTron , thanks for getting back to me.

I can provide the xfdf commands, absolutely. It's worth adding that I also have an instance of PDFTron running in a web app, which is storing & reading from the same database as the React Native instance, and the web version doesn't have this issue - all annotations are displayed correctly, wether I added them via the RN instance or via th

[2021-04-05 17:23] Maxwell-Yang-PDFTron commented on #248
Hi @HelloTiago, I could successfully import the xfdf you have provided. And the space and tabs between xfdf string do not matter for correctness.

Just to be sure, which API calls from our wrapper are you using to export the annotations and import them to the clean document? The 2 xfdf strings you have provided are in the structure of xfdf for annotation, not xfdf command for import. An xfdf comma

[2021-04-05 17:38] Maxwell-Yang-PDFTron commented on #28
Hi @DanielCender and @Frekansapp, this feature could now be achieved with `saveDocument`(https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#savedocument). The returned promise will resolve/reject if document is saved successfully/unsuccessfully.

[2021-04-05 17:38] #28 closed

[2021-04-06 11:15] HelloTiago commented on #248
Hi @Maxwell-Yang-PDFTron - I can import the xfdf's as well, I just can't see them if the author of the annotations matches the current author. Could you see them if you set the `currentUser` to match the annotation author, `Tiago Duarte`?

Below is how we're exporting the annotations from PDFTron. Since we're storing them in a database and don't need to keep track of the full xfdf command with add

[2021-04-09 08:04] Maxwell-Yang-PDFTron commented on #248
@HelloTiago, I still cannot replicate this issue, unfortunately. Could you take a look at [this branch](https://github.com/PDFTron/pdftron-react-native/tree/collab-current-user-annotation) and run the example app in it? I have modified the App.js to showcase this issue, which does not occur in this case. If there is anything missing from this example, feel free to comment below. Thank you!

[2021-04-09 08:20] Maxwell-Yang-PDFTron commented on #228
Sorry @3imed-jaberi for the late reply. Looking at your project, exportAnnotations is actually not a good function to use in your case, since this would have all annotations returned, which could potentially contain multiple sticky notes. Currently on master, [setPropertiesForAnnotation](https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#setpropertiesforannotation) supports adding

[2021-04-09 18:06] HelloTiago commented on #248
@Maxwell-Yang-PDFTron I tested the example app and it works. It seems like you're using a different method to import annotations though, `importAnnotations`, while I'm using `importAnnotationCommand`. I tried using the same in my loop of the pages' annotations (the documents I'm working with tend to get a lot of annotations so I'm only importing them page by page when the user changes pages), like

[2021-04-09 23:57] JamesTron commented on #242
Hi,

We don't have a great way to customize this view at the moment. It is _possible_ to customize it because it is a `UITableViewController`, so you could subclass it (in native) and override the standard methods to remove rows, and also intercept row selections and change the `indexPath` that you send to the superclass to make sure the correct behaviour is realized. Hacky, but it would work.

Yo

[2021-04-10 00:06] soymanuvalle commented on #242
Thank you very much, I started working on it with subclasses a couple days ago but I was having trouble trying to keep the same design. With what you sent I'm sure it's gonna be much easier!

Regarding the override I wasn't aware of that feature, thanks

I'll re-open if something goes wrong

[2021-04-10 00:06] #242 closed

[2021-04-10 01:02] Maxwell-Yang-PDFTron commented on #248
Hi @HelloTiago, it is definitely doable to import annotation commands based on page changes, but it is better have some checks to avoid importing the same command every time the viewer scrolls to the same page. You could import the same command multiple times, but every time the command is imported, the screen will re-render, which is not recommended.

I have updated the [branch]((https://github.c

[2021-04-12 13:41] 3imed-jaberi commented on #228
Thank u @Maxwell-Yang-PDFTron  for following..
The behavior problem suggested by `setPropertiesForAnnotation` is that the icon size is too large which affects finding the real location-pin icon location.

Note: only the real icon position is clickable.

- Screenshots:

![171415745_857118218478677_3474343779610990924_n](https://user-images.githubusercontent.com/43971542/114401167-f60d3500-9ba2-11eb

[2021-04-12 14:31] sgong-pdftron commented on #228
@3imed-jaberi Could you provide a sample project where we can reproduce this? As you can see, the default sticky note is not giant, I'm unsure what could have caused this. Thanks.

[2021-04-12 16:02] 3imed-jaberi commented on #228
@sgong-pdftron, you can use this [sample project](https://github.com/PDFTron/react-native-sample) .. just you need to change the code inside `DocumentViewer.tsx` file with this ;

[code]

[2021-04-13 16:21] HelloTiago commented on #248
Hi @Maxwell-Yang-PDFTron , thanks for the recommendations. I've got it set up so it only imports annotations once per page.

I forked your example and updated it with the PDF that I'm using as well as two annotations exported from that document and the issue is still present: https://github.com/HelloTiago/pdftron-react-native/tree/collab-current-user-annotation
The annotation on page 1 is for the

[2021-04-14 17:03] Maxwell-Yang-PDFTron commented on #248
Hi @HelloTiago, I have made changes again to the [branch](https://github.com/PDFTron/pdftron-react-native/tree/collab-current-user-annotation) which uses your example. I finally spotted the problem after seeing my mistake:

This is an xfdf for importAnnotations:
``
`<?xml version="1.0" encoding="UTF-8" ?><xfdf xmlns="http://ns.adobe.com/xfdf/" xml:space="preserve"><annots><highlight page="1" rect=

[2021-04-15 14:08] NishadPatilMuzero opened #257 "Build Failed [ANDROID] (not Expo version)"
Error Description:-
    * What went wrong:
             Could not determine the dependencies of task ':app:mergeDebugAssets'.

 *All the installation steps are followed properly as per the link:
                      https://github.com/PDFTron/pdftron-react-native#installation

![issue](https://user-images.githubusercontent.com/80349070/114882744-e4859080-9e21-11eb-9c48-3852ecb0c858.PNG)
![issue1]

[2021-04-15 16:20] sgong-pdftron commented on #257
@NishadPatilMuzero In your search path, I don't see the required path for PDFTron "https://pdftron-maven.s3.amazonaws.com/snapshot". This should be part of your root project setting unless somehow it was overwritten by your application. Could you please double check that

    maven {     url "https://pdftron-maven.s3.amazonaws.com/snapshot" }

is inside node_modules/react-native-pdftron/android/bu

[2021-04-15 18:06] NishadPatilMuzero commented on #257
Hey @sgong-pdftron,
I checked the **build.gradle** file

             `maven {     url"https://pdftronmaven.s3.amazonaws.com/snapshot"}`

is present in _node_modules/react-native-pdftron/android/build.gradle_ file.

In _android/build.gradle_ I haven't changed anything.

In _android/app/build.gradle_ I have just added

`  dexOptions {
        javaMaxHeapSize "4g"
    }`
.........
 `signingConfigs {

[2021-04-15 19:18] sgong-pdftron commented on #257
@NishadPatilMuzero Are you able to reproduce here: https://github.com/PDFTron/react-native-sample. Or could you share a sample project?

[2021-04-15 21:27] sgong-pdftron commented on #228
@3imed-jaberi I did what you mentioned, however I'm not seeing what you are reporting. When I used your code snippet, on my end, it seems like no behaviour change compare to original sample. Could you please send a complete sample?

[2021-04-16 00:25] 3imed-jaberi commented on #228
@sgong-pdftron, this is a complete sample: https://github.com/3imed-jaberi/react-native-sample/tree/complete-sample-issue-228

![xxx-flow](https://user-images.githubusercontent.com/43971542/114954344-a062b200-9e5a-11eb-9d4e-f3ed06e99ad3.gif)

[2021-04-16 06:35] NishadPatilMuzero commented on #257
@sgong-pdftron I have created a new sample project but an error occurring while building

* What went wrong:
Execution failed for task ':app:packageDebug'.

Here is the link of the project, please check-

[](https://github.com/Dontag/PDFTron.git)

[2021-04-19 23:38] sgong-pdftron commented on #257
@NishadPatilMuzero I downloaded your project, and all I did is "npm install" on root, then import the project to Android Studio then build, it works as expected:

![Screen Shot 2021-04-19 at 4 37 02 PM](https://user-images.githubusercontent.com/20527369/115316128-99bf8d80-a12d-11eb-9f45-04f0c545e28d.png)

I suspect your environment is not setup properly with Android. Could you try maybe install th

[2021-04-20 14:35] sgong-pdftron commented on #228
@3imed-jaberi thanks for the project, I understand the problem now. When calling `onBehaviorActivated`, the viewer returns you the sticky note location in screen space (relative to your screen), whereas when you set annotation property, it expects page space. See an article explaining the differences here: https://www.pdftron.com/documentation/android/guides/basics/coordinates.

So the question I

[2021-04-20 15:00] 3imed-jaberi commented on #228
@sgong-pdftron, I wanted to save my form data inside the sticky note, and the behavior that I adopted (use `importAnnotationCommand `) was working until it resulted in an error (`[Error: XML Parsing error]`) then @Maxwell-Yang-PDFTron suggested that I use another method, which is through `setPropertiesForAnnotation` and use the data object provided by  `onBehaviorActivated` but here I faced this p

[2021-04-21 07:11] NishadPatilMuzero commented on #257
@sgong-pdftron  ill check from my side.

[2021-04-21 19:27] NishadPatilMuzero commented on #257
Hey @sgong-pdftron,
The problem was related to gradle this problem is solved.
thank you.

[2021-04-21 19:27] #257 closed

[2021-04-26 08:18] shrooosher opened #264 "Can't build app after iOS Pdftron version updated"
**Describe the bug**
When I'm trying to build latest pdftron-react-native latest master version with PDFNet (9.0.0.77669) Pod - build fails with error
RNTPTDocumentView.m:1618:28: 'pageFitsBetweenBars' is unavailable: This API is no longer availble.

**Steps to Reproduce the Problem**
1. Create new react app or replace "react-native-pdftron": "file:../" in example app for "react-native-pdftron": "

[2021-04-26 17:58] JamieDass commented on #264
Thank you for letting us know, I will close this issue now.

[2021-04-26 17:58] #264 closed

[2021-04-27 04:37] hatn98 opened #267 "Crash app when open the document after iOS pdftron version updated"
**Describe the bug**
When I open the document (I build with `react-native-pdftron` latest master version and `PDFNet (9.0.0.77669) Pod`) - crash app with error:  `RNTPTDocumentView.m:1616:28: 'controlsHidden' - Thread 1: EXC_BAD_ACCESS (code=1, address=0x20)`

**Steps to Reproduce the Problem**
1. Create new react app or replace "react-native-pdftron": "file:../" in example app for "react-native-p

[2021-04-27 09:59] exotexot commented on #267
Same

[2021-04-28 00:18] JamieDass commented on #267
Hi,

Thanks for bringing this to our attention, we are investigating.

[2021-04-29 00:50] JamieDass commented on #267
Hi @hatn98 and @exotexot,

We have implemented a fix for this crash and it's available in our stable nightly iOS build.

Are you able to try it by modifying the linked podspec in the Podfile as described here:
https://github.com/PDFTron/pdftron-react-native#ios

so that it reads:
`pod 'PDFNet', podspec: 'https://nightly-pdftron.s3-us-west-2.amazonaws.com/stable/2021-04-28/9.0/cocoapods/pdfnet/2021

[2021-04-29 02:21] hatn98 commented on #267
Hi @JamieDass,

I tried PDFNet version nightly and it worked.

[2021-04-30 03:23] 3imed-jaberi commented on #228
@sgong-pdftron, @Maxwell-Yang-PDFTron, sorry for the late reply.. Thank you, I appreciate your support 🙏 it works well.

[2021-04-30 03:23] #228 closed

[2021-04-30 15:19] exotexot commented on #267
I can confirm, using @JamieDass's .podspec does solve the issue! Thanks. :)

[2021-05-03 18:05] JamieDass commented on #267
Great thank you for checking! I'll close the issue now.

[2021-05-03 18:05] #267 closed

[2021-05-05 13:29] exotexot commented on #267
Will you merge these changes to latest.podspec?
Here, it still references
.version  = '9.0.0.77669'

[2021-05-06 08:04] exotexot commented on #267
Please merge these changes to latest.podspec though.

[2021-05-06 17:22] JamieDass commented on #267
@exotexot These changes will be available in `latest.podspec` with the next release of the native iOS SDK, scheduled for the end of this month or early June.

In the meantime the stable nightly build is suitable production and is supported in the same way as an official release.

[2021-05-28 04:25] hatn98 opened #282 "[iOS] Sometimes crash app when open document view"
**Describe the bug**
Sometimes when I open the document (I build with `react-native-pdftron latest` master version and `PDFNet (9.0.0.77669) Pod`) - crash app with error: `RNTPTDocumentController.m:221:5: '[' - Thread 1: signal SIGABRT`

**Steps to Reproduce the Problem**
1. Create new react app or replace "react-native-pdftron": "file:../" in example app for "react-native-pdftron": github:PDFTron

[2021-06-01 15:21] JamieDass commented on #282
Hi @hatn98,

Unfortunately we were unable to reproduce this issue. Are you able to share some more information about the problem?
You said that it only sometimes happens is that right? Does it only happen for certain documents or on certain devices/simulators? Are you aware of any other steps needed to reproduce the crash?
Any other additional information which might help us reproduce the problem

[2021-06-02 09:32] brerdem opened #286 "Annotation methods"
How can I access annotation specific methods like `getReplies()` as we have in Web SDK?

[2021-06-02 14:29] sgong-pdftron commented on #286
@brerdem this is not supported at the moment. May I ask if you are using collaboration mode in the React Native SDK? Could you submit a feature request through our ticketing system https://www.pdftron.com/support/? Thanks.

[2021-06-02 16:06] hatn98 commented on #282
Thank you for your reply,
_1. You said that it only sometimes happens is that right?_
**-> Yes, it happens sometimes.**
_2. Does it only happen for certain documents or on certain devices/simulators_
**-> No, it happens with all documents and all devices/simulators.**
_3. Are you aware of any other steps needed to reproduce the crash?_
**-> I don't know, I just need to open the documents continuit

[2021-06-03 05:52] brerdem commented on #286
@sgong-pdftron Thanks. I'm not using collaboration mode rather heavily modify annotations. Is there a way you can suggest without messing with XML too much?

[2021-06-03 14:35] sgong-pdftron commented on #286
@brerdem I don't recommend any messing with the XML (if you are referring to XFDF), that is too error prone. the best way is to use the collaboration mode and we look into expose getReplies for you. Is there a PDF document with the replies, or sample XFDF you could provide so we understand your use case better?

[2021-06-04 06:48] brerdem commented on #286
@sgong-pdftron Yes I'm referring to XFDF string. There are many methods I'm using, `getReplies` is just one of them. There is no specific use case, all I want is record the text replies along with their user and date. Below I'm giving the list of functions currently I need. I'm currently migrating a Web app to mobile so I need them work as in Web SDK. Thanks

- getReplies()
- createAnnotationReply

[2021-06-04 14:33] sgong-pdftron commented on #286
@brerdem would it be possible if you could submit an official feature request here: https://www.pdftron.com/support so it's easier for us to track? thanks.

[2021-06-05 19:32] brerdem commented on #286
Sure will do. Thanks

[2021-06-05 19:32] #286 closed

[2021-06-06 18:46] shrooosher opened #287 "Entering a text on the iOS does not get saved every time"
**Describe the bug**
When adding text annotation and hiding keyboard. Text don't save every time.

**Steps to Reproduce the Problem**
1. Select text annotation
2. Enter text
3. Hide keyboard (press done) or press on document
4. Text don't save every time.

**Expected behavior**
Text saved every time.

**Platform/Device Information (please complete the following information if applicable):**
 - Pla

[2021-06-08 00:56] JamieDass commented on #287
Hi @shrooosher,

Thank you for reporting this. We are investigating.

Just to clarify in step 3:

Does the issue occur for both of these methods of hiding the keyboard?

[2021-06-08 00:56] JamieDass commented on #282
Hi @hatn98,

Just wanted to let you know that we are investigating this issue and will hopefully have an update for you soon

[2021-06-08 15:45] shrooosher commented on #287
On "Hide keyboard (press done)"  can’t reproduce when press on document

[2021-06-08 17:50] JamieDass commented on #282
Hi @hatn98,

Just a quick follow up, yesterday we released a new version of the native iOS SDK — v9.0.1.77780. Are you able to update (rerun `pod install`) and let us know if the issue is still happening with the latest version?

[2021-06-08 20:19] JamesTron commented on #287
Hi @shrooosher,

We are unable to reproduce the behaviour you've described. Could you please make sure you are using the latest version of the native PDFTron SDK (by running `pod update` in the folder with the file "Podfile" in it), and and also update to the latest code available on our ReatNative github repository, try again, and let us know what you see?

Thank you.

[2021-06-09 07:22] hatn98 commented on #282
Hi @JamieDass,
I tried with the new version and it doesn't seem to crash anymore.
Thank you so much.

[2021-06-09 09:12] shrooosher commented on #287
Hello. Can’t reproduce on new version. Thanks.

[2021-06-10 11:05] hatn98 opened #288 "[Android] Annotation sticky note do not show pop up when using props `collabEnabled`"
**Describe the bug**
I open the document with the latest version react-native-pdftron. After I adding prop **collabEnabled={true}**, the annotation tool `sticky note` does not show a pop-up.

**Steps to Reproduce the Problem**

1. Create new react app or replace "react-native-pdftron": "file:../" in example app for "react-native-pdftron": github:PDFTron/pdftron-react-native.
2. Install all depende

[2021-06-10 14:55] sgong-pdftron commented on #288
@hatn98 This is the expected behaviour. In Collaboration mode, you will need to click on the notes icon to display the annotation reply UI. Because in collaboration mode, notes are shown as "chats" as oppose to a single message. Could you please give it a try?

[2021-06-10 15:52] JamieDass commented on #282
Hi @hatn98,

Great we're glad to hear it! I'll close this issue now.

[2021-06-10 15:52] #282 closed

[2021-06-14 11:06] shrooosher commented on #287
Can reproduce on latest version of PdfTron
https://user-images.githubusercontent.com/72397257/121882846-b9cc9100-cd19-11eb-9278-f479d886d1f7.mov

[2021-06-15 04:00] hatn98 commented on #288
@sgong-pdftron
Thanks for your reply,
I will try again.

[2021-06-15 04:00] #288 closed

[2021-06-22 09:58] shrooosher commented on #287
@JamesTron check video pls.

[2021-06-22 10:33] brerdem opened #293 "Is it possible to merge onAnnotationsChanged and onExportAnnotations events into one?"
In my project I need to save changed annotations into my database along their ID and XFDF strings. Since there is no single method that gives me changed annotations with ID and XFDFI need to call both of these events. Is there a better way to do it?

Thanks

[2021-06-23 13:15] shrooosher opened #295 "Entering a text on the iOS does not get saved every time"
**Describe the bug**
When adding text annotation and hiding keyboard. Text don't save every time.

**Steps to Reproduce the Problem**
1. Select text annotation
2. Enter text
3. Hide keyboard (press done) or press on document
4. Text don't save every time.

**Expected behavior**
Text saved every time.

**Platform/Device Information (please complete the following information if applicable):**
 - Pla

[2021-06-23 13:15] #287 closed

[2021-06-23 17:47] sgong-pdftron commented on #293
@brerdem Thanks for bringing this up, we will look into add IDs as part of `onExportAnnotationCommand` API

[2021-06-24 00:23] akwanpdf opened #299 "Annotation dialog "delete all" buttons don't call listeners (Android)"
**Describe the bug**
In Android, deleting multiple annotations using "Delete all annotations on page <page number>" or "Delete all annotations in the document" buttons do not call `handleAnnotationChanged` nor `handleExportAnnotationCommand`.

**Steps to Reproduce the Problem**
1. Use debug mode and run the example app in an Android device.
2. Create multiple annotations (e.g. highlight two differ

[2021-06-24 16:50] dcupidon opened #300 "Edit Menu Button still appears when disabled on Android"
**Describe the bug**
On Android, the edit menu button still appears in the toolbar although it has been included in `disabledElements`.

**Steps to Reproduce the Problem**
1. Include `disabledElements={[Config.Buttons.editMenuButton]}` within the props for `DocumentView`.
2. Run Android emulator.

**Expected behavior**
The edit menu button would not be visible in the toolbar, for example:

<img wi

[2021-06-28 20:55] akwanpdf commented on #293
@brerdem IDs have now been added to `onExportAnnotationCommand` API, see #301. Thank you!

[2021-06-28 20:55] #293 closed

[2021-07-08 12:22] brerdem opened #315 "Highlight search result"
As the title says I would like to highlight matching text when I use `findText`. I'm also using `onTextSearchResult` and getting quad coordinates of the match but couldn't figure it out how to highlight it. I'd appreciate your help.

[2021-07-08 16:03] sgong-pdftron commented on #315
@brerdem yes we are planning to add this, we will update you here when it is available. Thanks.

[2021-07-08 22:56] sgong-pdftron commented on #315
@brerdem you can track the progress here: https://github.com/PDFTron/pdftron-react-native/pull/318. Thanks

[2021-07-09 12:14] brerdem commented on #315
ok thanks!

[2021-07-13 18:04] dcupidon opened #323 "Unable to completely disable editing on certain annotation types"
**Describe the bug**
I exposed an API that disables editing on certain annotation types. While testing on Android, I noticed the following: when no tool is selected only annotation types that were not passed to the prop can be edited, but when a tool is selected any annotation can be edited.

**Steps to Reproduce the Problem**
1. Go to `DocumentView.js` and add `disableEditingByAnnotationType: Pro

[2021-07-16 11:30] HelloTiago opened #337 "Current open tab or onTabChange event"
There's support for Multi tabs but there's no way to know when the user changes tabs, or which tab is currently open.

A "onTabChange" event that returned the title of the current tab, for example, would be really helpful. Thanks.

[2021-07-19 10:55] #248 closed

[2021-08-17 07:15] hatn98 opened #366 "[Question] How to get list undo/redo snapshots."
Hi,
I want to get the list of undo/redo snapshots. Can you export a new API for that?

[2021-08-17 21:57] rraczae commented on #155
Hey All, we are facing the exact same issue. XCode Version is 12.4 with a paid license. It builds locally but not in our CI/CD pipe (AppCenter). Any hints>

[2021-08-17 22:05] rraczae opened #367 "iOS Export Error"
**Describe the bug**
Our ios production build started failing when we included PDFTron with the  following error:

[code]

Everything worked fine before, we pushed dozens of new builds.

**Steps to Reproduce the Problem**
Setup a build on AppCenter and try to run it.

**Expected behavior**

The app is built.

**Additional context**
There was another issue about this: https://github.com/PDFTron/pdf

[2021-08-18 17:29] sgong-pdftron commented on #366
Could you please describe your use case in a high level? We do not have such API. However, you can fetch for canUndo/canRedo and perform undo/redo. Thanks.

[2021-08-18 18:18] JamesTron commented on #367
Like any iOS SDK, PDFTron requires an app that uses it to use the same version (or a later version) of Xcode that was used to compile the SDK. It looks like AppCenter has not updated to Xcode 12.5 yet, which is unfortunately causing problems for many AppCenter customers. https://github.com/microsoft/appcenter/issues/2185#issuecomment-875123079

We suspect this is behind the problem, however you ca

[2021-08-18 18:18] #367 closed

[2021-08-19 01:48] hatn98 commented on #366
In my case, I try to keep snap0 (the first element in snapshots) and disable button custom undo. The canUndo always returns true if my position is snap0. So I can't check that. I want to get the list of undo/redo snapshots to check snap0. Is it possible?

[2021-08-19 02:23] hatn98 opened #369 "[Question] Drag/drop signature to cross page"
Hi,
Is possible to drag/drop a signature to cross page?

[2021-08-19 14:41] sgong-pdftron commented on #366
Could you elaborate what snap0 is? canUndo should be false when the document has no changes, if this is not working for you, we'd like to investigate and fix the issue. Could you provide a sample that we can reproduce this on our end? Thanks.

[2021-08-19 15:09] sgong-pdftron commented on #369
Hi, this is not possible at the moment. Just to clarify, do you mean move a signature from one page to the next page?

[2021-08-19 15:09] sgong-pdftron commented on #337
Hi, sorry for the late reply. Yes we can add tab changed event for sure

[2021-08-20 01:37] hatn98 commented on #369
Thanks for your reply,
Yes, I want to move a signature from one page to the next page.

[2021-08-20 03:16] hatn98 commented on #366
Hi,
This is snap0 I want to talk about. When the first we take a snapshot.
![image](https://user-images.githubusercontent.com/74538611/130172965-9621b92e-9397-406f-b527-70d4d64e6f6a.png)

The canUndo work is good, but in my case, I want to detect the next undo state is snap0.

[2021-08-20 16:51] sgong-pdftron commented on #369
@hatn98 as this is a new feature request, may I ask what timeline are you looking at and whether this is blocking your release? Would you be able to submit a proper feature request here: https://www.pdftron.com/form/feature-request/. Thanks.

[2021-09-02 23:07] sgong-pdftron commented on #337
This is now available:
https://github.com/PDFTron/pdftron-react-native/pull/370
Thanks.

[2021-09-02 23:07] #337 closed

[2021-10-11 09:34] #369 closed

[2021-10-11 11:52] brerdem opened #391 "Disable some unknown tools"
**Describe the bug**

I'd like to disable marked buttons on screenshot. Currently they are listed as **unknown tool** and

**Expected behavior**
Those buttons should have tool names and should be hidden when included in `disabledButtons` array

**Screenshots**
![image](https://user-images.githubusercontent.com/778976/136785379-ada8102e-81ec-4779-8343-1a054fcfdf55.png)

**Platform/Device Informatio

[2021-11-19 13:46] sakthivelvthink opened #421 "Facing issue while editing"
**Describe the bug**
 After editing using sketch and can't save the edit document from the file path .

**Steps to Reproduce the Problem**

1. View one pdf document
2. Edit by sketch pencil
3. Save it in different file path
4. View the document from the newly saved path.

**Expected behavior**
Edited document should be viewable from newly saved path

**Screenshots**
https://user-images.githubuserc

[2021-11-19 16:01] sgong-pdftron commented on #421
@sakthivelvthink Could you please share the code snippet of usage of the viewer including how you are saving to a new path? Ideally a sample project that will allow us to reproduce this issue will get us a solution fastest.

Thanks.

[2021-11-22 12:28] sakthivelvthink commented on #421
Hi sgong,
 If i am free version . Edit option will hide automatically after the first edit?

[2021-11-22 15:24] sgong-pdftron commented on #421
Hi @sakthivelvthink , PDFTron is a commercial solution so there isn't a free version. There is a trial version that you can use during your trial period. You get to try all functionalities. Could you please elaborate on the exact problem and how to reproduce it? We may be able to help if we can reproduce it on our end. Thanks.

[2021-11-24 11:45] brerdem commented on #391
Hi,

Updated to latest version (3.0.2 - beta 19) I'm still seeing Smart Pen tool even it's in the disabled tools list.

![image](https://user-images.githubusercontent.com/778976/143232554-832aa7c0-70b1-4af7-ae2c-a4839afcfb53.png)

[2021-11-24 22:15] dcupidon commented on #391
Thanks for bringing this to our attention. We will let you know when an update that fixes the issue has been released.

[2021-12-01 09:38] hemavthink commented on #421
@sgong-pdftron In Android, Editing and save the document using the sketch pencil. After saving, open the document, sketch pencil edited are  cleared(not saving) and also editing tools are not visible.

[2021-12-03 19:21] dcupidon opened #432 "(iOS) `onDocumentLoaded` returns the wrong path"
**Describe the bug**
The iOS version of `onDocumentLoaded` returns the same value that was passed into the `document` prop.

**Steps to Reproduce the Problem**
1.  Pass the variable below into the `onDocumentLoaded` prop.
[code]
2. Run the Android simulator and see that the outputted path refers to the local cached files.
3. Run the iOS simulator and see that the outputted path is the same as the

[2021-12-07 14:39] brerdem opened #433 "Empty space of Annotation Toolbar Switcher"
When I try to hide toolbar switcher by setting `hideAnnotationToolbarSwitcher` to `true`, the switch element disappears but also leaves an empty space as seen in screenshot. How can I completely remove it?

iOS 14.1
PdfTron v3.0.2

![image](https://user-images.githubusercontent.com/778976/145049149-3888a267-334b-4ec1-a262-7efd6378f5f6.png)

[2021-12-07 15:14] brerdem opened #434 "Error while displaying documents offline"
I'm getting an error when I try to display documents offline as shown in the screenshot. The document is loaded from local path and actually is displayed, but an error popup shows up over it. Additionally the annotation tools don't appear either

iOS 14.4
PDFTron 3.0.2

![image](https://user-images.githubusercontent.com/778976/145054842-de991600-d83b-41aa-8093-3d430199448a.png)

[2021-12-07 16:12] sgong-pdftron commented on #434
Hi @brerdem would it be possible if you could send us this document so we can reproduce it on our end? Thanks.

[2021-12-07 16:17] brerdem commented on #391
any update on this?

[2021-12-07 18:49] akwanpdf commented on #433
In the [example App.js](https://github.com/PDFTron/pdftron-react-native/blob/master/example/App.js), I set `hideAnnotationToolbarSwitcher` to `true` but was unable to replicate the issue in iOS 14.1. I also tried iOS 15.0 just in case, and it also worked normally.

Could you please paste your `App.js` so I can take a look at the rest of your configuration? Thanks.

<img width="468" alt="image" src

[2021-12-07 21:59] dcupidon commented on #391
The fix for this should come after the next official release of the native iOS library

[2021-12-08 08:31] brerdem commented on #434
Sure @sgong-pdftron
You can download it here: [https://firebasestorage.googleapis.com/v0/b/ebookbox-bvs.appspot.com/o/docs%2F67062_1_d.pdf?alt=media&token=5c5cc510-93ba-4170-97d2-854cc9354c38](https://firebasestorage.googleapis.com/v0/b/ebookbox-bvs.appspot.com/o/docs%2F67062_1_d.pdf?alt=media&token=5c5cc510-93ba-4170-97d2-854cc9354c38 )

By the way, as a side note, I'm using Firebase Firestore fo

[2021-12-08 09:38] brerdem commented on #433
Hi @akwanpdf . My code as follows. I just made a custom header and I don't use any toolbar/appbar other than annotation toolbar. I'm also hiding all tools and buttons except the ones listed in the  arrays below. Thanks

`return (
    <View style={styles.container}>
      <View style={styles.topBar}>
        <Button
          icon={{name: 'close'}}
          onPress={() => navigation.goBack()}

[2021-12-09 02:54] dcupidon commented on #433
As you correctly stated your code is hiding all the buttons and tools that you don't want. However, it is not hiding the top nav  bar itself. This causes the empty space that you are seeing. To hide this bar as well, set the `hideTopAppNavBar` to be true.

Let us know if this works.

[2021-12-09 03:08] dcupidon commented on #434
I downloaded the file to my MacBook and referenced the local path in my example app. My simulator ran the app without the alert popping up. Is it possible for you to show you the files are retrieved from local storage?

[2021-12-09 18:38] brerdem commented on #433
Thanks @dcupidon the empty space is gone after adding `hideTopAppNavBar`. However the annotation toolbar doesn't show up when I open the document. I need to click somewhere in the viewer once to display it (see the gif below). I also tried setting `hideToolbarsOnTap` to false just to check,  in that case annotation toolbar never gets displayed.

![capture](https://user-images.githubusercontent.com

[2021-12-09 20:55] akwanpdf commented on #433
Thanks for the update! I noticed that you've disabled all the buttons in the bottom toolbar. Can you also add `bottomToolbarEnabled={false}` to your configuration? I've tested it out and it did the trick.

[2021-12-12 14:55] brerdem commented on #434
@dcupidon did you try to open it up offline? You can't do it with the simulator as far as I know. You need a real device and cut the connection then try to open up from local path.

here is the snippet of code I'm using. Maybe it gives you an idea. Basically it downloads the file from firebase storage to phone's local storage and later I'm trying to open the doc from this local path
[code]
Interes

[2021-12-12 15:04] brerdem commented on #433
Thank you very much @akwanpdf. It worked

[2021-12-12 15:04] #433 closed

[2021-12-13 14:38] FranckCN opened #438 "Problems with translations"
Hello 👋,

We develop an app with PDFTron in React-Native and it seems we get some problems with translations.

We have no translation on iOS and Android is partialy translated.

Is it normal ? If yes, for Android, maybe we can help you by adding some missing translations :)

[2021-12-13 16:11] sgong-pdftron commented on #438
Hi @FranckCN may I ask what language(s) you are looking for?

[2021-12-13 16:15] FranckCN commented on #438
Hi, thank you for answering that fast ! :)

Firstly, maybe we found the issue with iOS, I'll update you as soon as we can test it.

We are looking for french.

[2021-12-15 19:35] dcupidon commented on #434
Could you try the following snippet:
[code]
If that doesn't work, please send a sample project for us to test.

[2021-12-16 00:41] dcupidon commented on #391
Support for disabling the Smart Pen tool has been added on version 3.0.2-beta.29

[2021-12-16 00:41] #391 closed

[2022-01-03 11:59] brerdem commented on #257
Same here @sgong-pdftron. I did check installation steps and nothing's wrong, only thing I'm using Gradle v6.4 with Android Gradle plugin v4.0.2.

![image](https://user-images.githubusercontent.com/778976/147927895-a0c3ac46-ce0d-471d-8607-73a08815b51e.png)

[2022-01-03 16:28] brerdem opened #447 "FragmentManager is already executing transactions"
**Describe the bug**
When trying to open a document the app crashes and Logcat throws "FragmentManager is already executing transactions" error.

Platform: Android
PDFTron version: com.pdftron:pdftron:9.1.2-beta09

Output:
[code]

[2022-01-03 16:32] sgong-pdftron commented on #447
@brerdem could you please provide a sample project as well as step to reproduce (with a video ideally) so we can investigate on our end? Thanks.

[2022-01-03 16:33] sgong-pdftron commented on #257
@brerdem based on https://github.com/PDFTron/pdftron-react-native/issues/447, it looks like you were able to use it no problem?

[2022-01-03 17:01] brerdem commented on #257
@sgong-pdftron I was able to run it after copying lines from `node_modules/react-native-pdftron/android/build.gradle` to `android/app/build.gradle` and `android/build.gradle` respectively. Still this needs to be investigated since the solution I come up with is not very reliable I think.

[2022-01-04 10:24] brerdem commented on #447
It's a confidential project and probably I can't share the whole code or making a sample out of it. I'll ask managers about it though. For now, here is the reproduction video

https://user-images.githubusercontent.com/778976/148042193-7c61103f-46db-49a7-99e0-b82d3ae81345.mp4

I'm using react-navigation v6.x and don't use any layout animation or react-native-reanimated which I was suspicious of bei

[2022-01-04 15:23] sgong-pdftron commented on #447
@brerdem Would you be able to provide us a minimum sample that can be run as-is? Code snippets are good to spot problems but we may spend a lot of time still not be able to replicate what you had originally. It is possible to go through proper support channel https://www.pdftron.com/form/request/ for confidential project. Thanks.

[2022-01-05 10:32] brerdem commented on #447
Hello @sgong-pdftron I added you as a collaborator to the minimal repro of the project. Please let me know if it works for you.

Thanks!

[2022-01-05 17:38] sgong-pdftron commented on #447
@brerdem thanks for the project, I'm able to reproduce this, as it is not a trivial problem, it will take some time to dig into the issue. Is this blocking your release? If so, when is the release date? Thanks.

[2022-01-05 19:19] brerdem commented on #434
Sorry for late reply @dcupidon. Unfortunately disabling JavaScript didn't work. I added you as a collaborator to the minimal reproducible demo of the project. Please let me know if you need anything else

To test it out, you'll need a real iOS device of course. When you open the app you'll see a single document in My Library section, press little 3 dots icon below the thumbnail and select Download

[2022-01-05 19:23] sgong-pdftron commented on #434
Hi @brerdem Dominic is no longer with us. Could you please submit a ticket at https://www.pdftron.com/form/request/ so someone from the iOS team can help you out? Typically for customers, please submit bug report instead of on GitHub for better assistance. Thanks.

[2022-01-05 19:24] sgong-pdftron commented on #434
closing in favor of ticketing system https://www.pdftron.com/form/request/

[2022-01-05 19:24] #434 closed

[2022-01-05 19:25] sgong-pdftron commented on #447
@brerdem as this is a real bug report now, could you please submit a bug report ticket here: https://www.pdftron.com/form/request/?

Closing in favor of ticketing system https://www.pdftron.com/form/request/

[2022-01-05 19:25] #447 closed

[2022-02-13 16:28] talhamuhammadashraf opened #490 "Android Export Path issue"
can not find the downloaded copy when save using "save a copy"

[2022-02-15 23:30] sgong-pdftron commented on #490
You can obtain path for any file using: https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#getdocumentpath

[2022-02-15 23:30] #490 closed

[2022-02-16 00:12] brandenfung2 opened #500 "[Android] Functionality in RNPdfViewCtrlTabFragment not supported in collab viewer"
**Describe the bug**

- Functionality implemented in RNPdfViewCtrlTabFragment such as imageStamperSelected and imageSignatureSelected needs to be added to collab viewer

**Expected behavior**

**Screenshots**

**Platform/Device Information (please complete the following information if applicable):**
 - Platform:Android

**Additional context**

[2022-02-16 08:50] somasekharkakarla opened #502 "unable to import multiple annotation in android (iOS is working fine)"
@sgong-pdftron  While I am importing annotations using method `this.docView.importAnnotations` in a for loop, only the last item is able to view on PDF but in iOS it working fine

[2022-02-16 08:54] somasekharkakarla commented on #502
I am able to resolve this by editing android library in views > DocumentView.class at line 3043 with `pdfDoc.fdfMerge(fdfDoc);` instead of `pdfDoc.fdfUpdate(fdfDoc);`

[2022-02-16 09:21] somasekharkakarla opened #503 "How to add custom annotations in React native?"
@sisardor Is there any way to add a custom annotation in react native? if it is there, how can I add one?. And also any method to place an icon or image at X, Y coordinates in a given page number?. I am able do see these method for web, android and iOS SDKs but not for react-native

[2022-02-16 18:11] sgong-pdftron commented on #502
@somasekharkakarla import annotation is designed to handle a snapshot of all annotations in a single XFDF String, for snapshot of single annotation, importAnnotationCommand is what you should really use, which will indicate either annotation is added/modified/deleted.

[2022-02-16 23:56] damianimashaun commented on #502
hey @sgong-pdftron this is not the case, I had the same issue as @somasekharkakarla and his solution worked for me

[2022-02-16 23:59] sgong-pdftron commented on #502
Thanks for the feedback, sounds to me there should be 2 variation of `importAnnotations`, where a param can be passed in to indicate whether to replace existing annotations:
so `importAnnotations(true)` will replace -> default and same with current behaviour
and `importAnnotations(false)` will combine -> allow multiple XFDF to be merged

That should work for both cases

[2022-02-17 06:54] somasekharkakarla commented on #502
@sgong-pdftron I didn't use this methods` importAnnotations(true)` at all. I run both android and ios at once iOS is showing all the annotations which I added but Android is showing only the last one. I think the update method is only updating and replacing with the latest annotation. The merge function is merging all annotations.

[2022-02-17 15:26] sgong-pdftron commented on #502
@somasekharkakarla that is my proposal, not implemented yet, the difference between Update and Merge is Merge will create duplicates, so for example if your server has a snapshot of the whole document, you cannot use merge as that will produce 2 sets of the same annotations. Update is used in that case to replace the entire annotation snapshot of the document. In any case I will add the param to h

[2022-02-18 18:59] #502 closed

[2022-02-25 17:17] talhaashraf-10p commented on #490
@sgong-pdftron  can i pass a certain path for android to be saved

[2022-02-28 15:36] sgong-pdftron commented on #490
@talhaashraf-10p that's not supported at the moment, however you can use React Native IO utilities to copy the saved document to your desired location, note this applies to the "save a copy" options. If you are asking about general saving, you can pass in the document from the desired path and it will get saved back to the original location.

[2022-03-03 12:15] damianimashaun opened #512 "Missing annotation tools"
Hello, I cannot see the Callout tool in iOS,
also the Caret tool is missing in both iOS and android,
is this intentional ?

[2022-03-03 12:21] damianimashaun commented on #295
This issue is still reproducible in "@pdftron/react-native-pdf": "3.0.2-beta.66",

[2022-03-03 14:08] damianimashaun opened #513 "Replies to comments not shown"
Hello,
On web after adding a comment to an annotation, I add 2 replies to it and it is displayed like this on web;

<img width="254" alt="Screenshot 2022-03-03 at 15 06 47" src="https://user-images.githubusercontent.com/49630919/156580551-a4a45605-3d45-45be-9a40-ad0655792362.png">

On mobile, only the first comment is shown;
Please, Is this the intended behaviour ?
If yes, will an update to addres

[2022-03-03 17:54] sgong-pdftron commented on #438
Please reopen if there is any further issues.

[2022-03-03 17:54] #438 closed

[2022-03-03 17:54] sgong-pdftron commented on #421
Please reopen or contact PDFTron support if there is any further issues.

[2022-03-03 17:54] #421 closed

[2022-03-03 18:00] damianimashaun opened #514 "Trigger function with event when redo/undo is pressed"
Hello,
Currently when undo or redo is pressed there is no function triggered with the event.
onUndoRedoStateChanged is called with no event.
In a scenario where the app has a db source to save individual annotations, is there any way to to respond to the undo/redo buttons pressed, with the accurate event , so I can either update the annotation in the db or delete it ?

[2022-03-03 18:04] sgong-pdftron commented on #513
Hi @damianimashaun you will be able to see replies on mobile if you enable collaboration:
https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#collabenabled
Could you give it a try?

[2022-03-03 18:25] sgong-pdftron commented on #514
Hi, your use case sound to me that you need to use collaboration mode and use https://github.com/PDFTron/pdftron-react-native/blob/master/API.md#onexportannotationcommand instead to get snapshot changes in the form of XFDF. Could you give that a try instead?

[2022-03-03 18:52] sgong-pdftron commented on #299
alternative would be to enable annotation manager instead which will be able to handle these two cases correctly

[2022-03-04 18:08] damianimashaun commented on #513
@sgong-pdftron I gave this a try and yes it works okay on iOS.
but the issue still happens on android.

In the example screenshots attached I added a single annotation, a comment and  some replies.
In Android, the comments list tab is empty:
![Screen 1](https://user-images.githubusercontent.com/49630919/156817460-e46e4fc1-6c8a-4a07-8d12-c9dea5c10407.jpg)

If I tap on the annotation and click comme

[2022-03-04 18:29] sgong-pdftron commented on #513
@damianimashaun could you provide the exact sample code (or ideally a project where we can reproduce as is) so we can try this on our end to further investigate? Thanks.

[2022-03-04 18:55] sgong-pdftron commented on #512
Hi @damianimashaun on iOS, you can see the Callout tool in the long-press menu, under the "Shapes..." submenu, (last item in the shapes menu, have to hit the right arrow a few times to get to it)

Caret tool is not supported on mobile platforms.

[2022-03-04 18:55] #512 closed

[2022-03-04 23:59] kmathew-pdftron opened #516 "ref node"
The current Document View component does not let you easily initialise ref variables as according to react documentation for functional components using hooks

[2022-03-07 01:04] damianimashaun commented on #513
@sgong-pdftron I can reproduce here also, https://github.com/damianimashaun/pdftronSample
this is a bare project with only the sample code.
Thanks for checking it out.

[2022-03-07 10:52] #514 closed

[2022-03-08 17:14] sgong-pdftron commented on #513
@damianimashaun This is because your annotations are actually not XFDF command, they are regular XFDF. Commands starts with `<add>/<modify>/<delete> tags instead.
I have a fix for you with using "importAnnotations" instead:
https://github.com/PDFTron/pdftron-react-native/pull/517

Usage:

          annotationPromise = annotationPromise.then(async () => {
            await documentRef?.current?.imp

[2022-03-08 17:54] #513 closed

[2022-03-09 11:18] damianimashaun opened #518 "[Android] Note Annotations with replies are not clickable"
**Describe the bug**
Note annotations with replies are not clickable, but they are, without replies
<img width="287" alt="image" src="https://user-images.githubusercontent.com/49630919/157430240-69692932-53ee-4eeb-8288-1e7bde7076ce.png">

like in the screenshot above, the note on the left has 2 replies, when tapped it does not bring up the context menu as seen on the right.
The note on the right h

[2022-03-09 22:55] sgong-pdftron commented on #518
@damianimashaun can reproduce, should be able to provide you with a fix in the next couple days. The issue is the replis has the same cooridnate as the actual sticky note, and on top of it, so it was trying to select the hidden comment instead. Thanks.

[2022-03-11 16:21] sgong-pdftron commented on #518
@damianimashaun the fix is in https://github.com/PDFTron/pdftron-react-native/issues/518, once it gets merged you can give it a try. With this fix you can select both:
![Screen Shot 2022-03-11 at 7 51 33 AM](https://user-images.githubusercontent.com/20527369/157906504-12f6cd75-b146-47a9-9061-fa660903c2f1.png)

[2022-03-11 16:35] #518 closed

[2022-03-21 18:31] misha-pavlov opened #527 "Dark mode doesn't work on tools bar, settings screen, etc"
When user select color mode as 'Dark Mode' this mode will be only on pdf page, but tools bar, settings, etc will be in 'Light Mode'.

![Simulator Screen Shot - iPhone 12 - 2022-03-21 at 13 28 59](https://user-images.githubusercontent.com/79836377/159340015-4ae3619b-cfb2-421f-affc-02cb6a843e17.png)

[2022-03-21 19:34] JamesTron commented on #527
Hi Misha,

The view setting's colour mode affects how the PDF is rendered, not the UI of the app. The UI will conform to the device's light/dark mode setting. This way you can have your device in dark mode, but still see the PDF rendered normally.

James

[2022-03-21 19:34] #527 closed

[2022-03-22 12:11] damianimashaun opened #529 "Customize "Write your comment" placeholder while adding a reply"
<img width="315" alt="image" src="https://user-images.githubusercontent.com/49630919/159478900-84d3d124-379d-40f5-9d73-a816f57b2271.png">

In Screenshot above, though the text box is actually to reply to a comment it says "Write your comment".
Please can you add a prop to customise this ?

[2022-03-22 12:25] damianimashaun opened #530 "Default status of new annotation should be 'None' instead of previously selected status"
In the video below,  I set the status of an annotation, then I create a new annotation, note the status of the new annotation;

https://user-images.githubusercontent.com/49630919/159480942-45c823c8-ef12-4d50-b2b7-01973e511ebf.mp4

Is there a way to resolve this ? I don't see any prop for changing this behaviour

[2022-03-22 12:42] damianimashaun opened #531 "Cannot edit initial comment of some annotations"
Hi, unlike the notes and text annotations in which the annotation is the First comment, it is not possible to change the Initial comment of a some annotation, like the shape annotations or pencil drawing for example.

After creating the annotation the first comment is left blank and can be edited only on Web.

![image](https://user-images.githubusercontent.com/49630919/159484425-91012a13-1895-486a

[2022-03-22 13:10] damianimashaun opened #532 "Custom floating text"
Hi, on web, we number annotations like on the right in screenshot, I think this is custom and not out of the box.
I do not see how to achieve this behaviour in mobile, Any help please ?

<img width="756" alt="image" src="https://user-images.githubusercontent.com/49630919/159489249-077d0a75-3706-4f1d-847e-b9868604dd63.png">

Xfdf
`<?xml version="1.0" encoding="UTF-8" ?><xfdf xmlns="http://ns.adobe.

[2022-03-22 17:32] misha-pavlov opened #533 "Can't add file attachment"
For example attach image will show as just a text, not as image

[2022-03-22 21:11] misha-pavlov opened #534 "Annotation text not visible in dark mode (text is light)"
When user have dark theme on phone and DocumentView have props followSystemDarkMode={false} annotate note will have a light text color in first open.
![Знімок екрана 2022-03-22 о 16 12 20](https://user-images.githubusercontent.com/79836377/159576801-7647e2e7-3c08-4186-9056-025da6b0ea91.png)

[2022-03-28 16:29] damianimashaun opened #536 "Cannot edit/delete reply added on web by the same user"
**Describe the bug**
On Android, the context menu icon (three dots) is not displayed beside the reply, so there's no way to edit/delete the reply.

On iOS, you can long press and see the menu but after editing comment, callback `onExportAnnotationCommand` is not called so the change is not saved

![Screenshot_20220328-171956_Hive](https://user-images.githubusercontent.com/49630919/160442967-c893aa

[2022-03-30 15:06] sgong-pdftron commented on #536
@damianimashaun we'll take a look and get back to you as soon as we can, in the future, please contact support directly (https://www.pdftron.com/support/) to avoid delays.

[2022-03-30 15:35] sgong-pdftron commented on #529
Hi @damianimashaun, yes you can edit this string, you'll want to include the following in "src/main/res/values/strings.xml" of your android application:

<string name="reply_editor_write_hint">Add your desired string here</string>

Thanks.

[2022-03-30 15:35] #529 closed

[2022-03-30 15:37] sgong-pdftron commented on #533
@misha-pavlov do you have a video and/or a sample project showing what you mean? Thanks.

[2022-03-30 16:35] JamieDass commented on #534
Hi @misha-pavlov,

Thank you for reporting this, we are investigating and will let you know what we find.

[2022-04-01 17:19] ama-pdftron commented on #536
@damianimashaun

The native PDFTron iOS SDK has been updated with a fix for the issue of the `onExportAnnotationCommand` not being called upon editing comments. If you are using the https://pdftron.com/downloads/ios/react-native/latest.podspec CocoaPod podspec then you can run the `pod update PDFNet` command from your project's ios/ directory to get the new version.

For Android, the fix for not b

[2022-04-01 17:30] ama-pdftron commented on #533
@misha-pavlov

Thanks for sending the video. What's the expectation after reaching the file attachment dialog? Which actions would you expect to be available? For example, would you expect to see an option to extract the file attachment?

[2022-04-01 17:40] misha-pavlov commented on #533
I think must be onPress event which give possibility download file. I mean that user press on attached file and download this file.

[2022-04-01 17:55] ama-pdftron commented on #533
@misha-pavlov
We noticed in your video that the quick menu did not show the Open Attachments option, could you provide a sample code that shows which settings you've enabled or disabled? For reference tapping on the attachment annotation should give you an option to open like this:
![Screenshot_1648835598](https://user-images.githubusercontent.com/83238520/161316555-a107950f-2654-41a6-99cf-a129faa

[2022-04-01 19:36] ama-pdftron commented on #533
@misha-pavlov

Can you enable the setting for openAttachments by uncommenting this line?
[code]

May we ask why this line needed to be commented out in the first place?

[2022-04-04 11:05] misha-pavlov commented on #533
I commented this line because we don't want the user to be able to open the attached file.
The only action for attached files should be 'download file'

[2022-04-04 11:10] somasekharkakarla opened #539 "How set id for import annotations?"
Hi @sgong-pdftron,
Is there any way to set id to when importing annotations
**current method**
`this.docView.importAnnotations(annotations[0].annotation_data)`

**Why we need set Id for import annotation?**
when we import the annotation there is no promise which return the imported annotation id, which is making set custom data for annotation impossible.
we need an possibility to get annotation id

[2022-04-04 14:19] sgong-pdftron commented on #533
@misha-pavlov understood. This would be a feature request as currently we only support open directly. Could you please submit a feature request ticket through our official ticket system here: https://www.pdftron.com/support/. Thank you!

[2022-04-04 16:36] somasekharkakarla commented on #539
@sgong-pdftron
Let's go in your way, suppose a shape annotation (circle, line, or square) is created on the canvas. i can send to server and server will create unique id for it.
Now, getting annotation from server. For example, the data is like below

[code]
Here you can see uid created by server. how will added it to import annotation? not only this, if we need to **setPropertiesForAnnotation** o

[2022-04-04 20:32] sgong-pdftron commented on #539
@somasekharkakarla annotation id is generated on client side when the annotation is created. This is out-of-box. What makes you think it is generated in the server? If your server needs to generate some kind of DB id, i recommend using custom data and set it as "serverId" or something similar.

Typically you want to export annotation data using https://github.com/PDFTron/pdftron-react-native/blob/

[2022-04-04 20:56] somasekharkakarla commented on #539
@sgong-pdftron I'm asking the same how to add custom data . When I do import annotation in loop. Can't we return annotation Id in promise instead of void?. So that I can add custom data using annotation Id instead of using on export.

[2022-04-04 21:20] sgong-pdftron commented on #539
@somasekharkakarla this is not currently supported, but we can look into adding it, could you please submit an official support request via https://www.pdftron.com/support/

[2022-04-05 11:27] damianimashaun commented on #529
@sgong-pdftron Please what's the equivalent for this on iOS ?

[2022-04-05 12:07] somasekharkakarla commented on #539
@sgong-pdftron i submitted an ticket to support

[2022-04-06 08:58] damianimashaun commented on #532
@sgong-pdftron I'm okay to give this a try. Can you help with an example or some pointers ?

[2022-04-06 10:07] somasekharkakarla opened #542 "Anyway to enable/disable onExportAnnotationCommand trigger for setPropertiesForAnnotation"
Hi @sgong-pdftron,
Is there any way to enable/disable onExportAnnotationCommand trigger?
When i use **setPropertiesForAnnotation** to set custom data for after annotation is added onExportAnnotationCommand > modify is called.

**Scenario:**
When annotation is created, the request call will add annotation to the server and the server will reply with custom data for that annotation. while adding the

[2022-04-06 14:35] sgong-pdftron commented on #532
@damianimashaun for android, please find demo sample below:

You will need to look at ElementBuilder API. Complete ElementBuilder sample can be found here:
https://www.pdftron.com/documentation/samples/android/java/ElementBuilderTest/?platforms=android

In particular, you need to learn how to write text, write path, write shape etc.

The starter sample to get you started with the number:
https://g

[2022-04-06 15:06] sgong-pdftron commented on #542
@somasekharkakarla I believe you'll have to keep track of that yourself. I would recommend a map on your end which you will add to "ignore" list, ignore the call for any item in the ignore list, then clear them out after consumed. Could you give it a try?

[2022-04-06 15:39] somasekharkakarla commented on #542
@sgong-pdftron at present i am doing same. Just i want you to make it more easy for the users which can help other users in other scenario's. It will be simple for us to add trigger param to the setPropertiesForAnnotation instead maintaining list.

[2022-04-07 14:43] damianimashaun commented on #532
@sgong-pdftron I'll give this a try and let you know how it goes, thank you.

[2022-04-07 16:58] sgong-pdftron commented on #542
Typically server DB should be the ground truth and client should send server every information it got. So in this case, your server side should be able to know not to further send out repeated information to the client. Thanks.

[2022-04-20 11:38] cwhfa opened #550 "Support for Expo config plugin"
**Describe the bug**
Right now manual changes are needed to make Android and iOS builds work (The [Android](https://github.com/PDFTron/pdftron-react-native#android) and [iOS](https://github.com/PDFTron/pdftron-react-native#ios) part of the readme) when using a [Expo Development project](https://docs.expo.dev/development/getting-started/)

Would it be possible for you to make a [config plugin](http

[2022-04-20 18:13] #542 closed

[2022-04-20 18:13] #536 closed

[2022-04-20 18:13] #533 closed

[2022-04-28 17:23] ama-pdftron commented on #531
@damianimashaun
Android has completed this change and should be available on the latest React Native version. Please give this a try and let us know if it works for you.

https://user-images.githubusercontent.com/83238520/165809910-9110b5f9-4d92-40e6-a34c-a243cd7ea98c.mov

[2022-06-22 18:01] abdoerrahiem opened #576 "onLoadComplete & onDocumentLoaded only fire when open button click"
I got some issues with the library,
When I want to export the file, the success alert only shows when the file is pdf (docx, png, etc don't show).
And onLoadComplete/onDocumentLoaded only fire when OPEN button tapped, but if I tap OK button they don't fire.

[2022-06-22 20:25] sgong-pdftron commented on #576
@abdoerrahiem could you please provide screenshots or videos so we can better assist you? Thanks.

[2022-07-08 09:42] adam-lynch opened #580 "Android fails to build after upgrading this package (Could not HEAD exoplayer)"
**Describe the bug**

After upgrading this package, building our Android app in Android Studio fails with the following error:

[code]

**Steps to Reproduce the Problem**

1. Upgrade from commit https://github.com/PDFTron/pdftron-react-native/commit/a00d39a1c50a8c538d49e2b0e9f4512d71662ed8 to `@pdftron/react-native-pdf@3.0.2-beta.112` or even `@pdftron/react-native-pdf@3.0.2-beta.64`.
2. Clean.
3.

[2022-07-19 10:23] Sanaullahbugti opened #588 "Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases."
npm ERR! @pdftron/react-native-pdf@3.0.2-beta.118 postinstall: `python3 scripts/newPodspecMessage.py`
Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.
![image](https://user-images.githubusercontent.com/39256766/179728696-d06883ca-a62e-401b-9c4a-33935c01ab0c.png)

[2022-07-19 20:28] arekm213 commented on #580
Hey, i created a sample project for you so you could take a look on that issue
https://github.com/arekm213/pdftronrepro
As @adam-lynch mentioned going back to `"react-native-pdftron": "github:PDFTron/pdftron-react-native#a00d39a1c50a8c538d49e2b0e9f4512d71662ed8"` makes us able to build project

[2022-07-21 00:43] terryyoon-pdftron commented on #580
Thank you for the sample project, we were able to take a look at the issue and track down the [commit](https://github.com/PDFTron/pdftron-react-native/pull/488) that contributed to it.

Essentially, the issue originates from the fact that the versions of some packages that your dependencies depend on are not present in the Maven Central repository. As we have removed JCenter in this PR, this cause

[2022-07-21 11:11] adam-lynch commented on #580
Thank you!

[2022-07-21 16:08] #580 closed

[2022-07-21 18:00] terryyoon-pdftron commented on #588
Hey there, please make sure Python is installed on your machine by running `python3` on your console.

[2022-07-22 13:32] Sanaullahbugti commented on #588
Hey @terryyoon-pdftron  Thanks for the reply. The above issue is resolved now I am getting following issue
![image](https://user-images.githubusercontent.com/39256766/180449760-d137a9ea-c98e-46eb-ad6c-4265ad698899.png)

[2022-07-25 08:41] #588 closed

[2022-07-25 08:43] Sanaullahbugti opened #590 "ViewPropTypes will be removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'."
ViewPropTypes will be removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'.

[2022-07-25 18:22] terryyoon-pdftron commented on #590
Hey there, https://github.com/PDFTron/pdftron-react-native/pull/591 was just merged that will fix this issue. Could you pull and try again?

[2022-07-26 02:17] Sanaullahbugti commented on #590
That works

[2022-07-26 02:17] #590 closed

[2022-08-23 09:06] henninghall opened #597 "Builds fails when new PDFNet version is available"
**Describe the bug**

When a new version of PDFNet is available, a build that previously succeeded now fails. This happens because PDFNet podspec points towards https://pdftron.com/downloads/ios/react-native/latest.podspec which changes sometimes.

[code]

**Expected behavior**
I expect the locked dependencies to be locked into a specific version. When updating PDFTron I expect the PDFNet version

[2022-08-25 06:54] JQQ-GIT opened #602 "Can't use Base64 PDF loading"
**Describe the bug**

**Steps to Reproduce the Problem**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Platform/Device Information (please complete the following information if applicable):**
 - Platform:[e.g. iOS or Android]
 - Device: [e.g. iPhone6, Google Pixel 4]
 - OS: [e.g. iOS8.1, Android Nougat]

**Additional context**

[2022-08-26 18:00] darrenchann commented on #602
Hi @JQQ-GIT

Would you be able to provide some video demonstrating this error as well as some sample code that could help us better understand this issue?

Also, what device and OS are you using as those fields didn't seem to be filled out.

[2022-08-26 18:50] dluco commented on #597
Hi there,
We do offer versioned CocoaPod podspecs for each release if you would prefer: [https://www.pdftron.com/documentation/ios/get-started/integration/cocoapods/#option-2](https://www.pdftron.com/documentation/ios/get-started/integration/cocoapods/#option-2)

eg. https://www.pdftron.com/downloads/ios/cocoapods/xcframeworks/pdfnet/9.3.0.80119.podspec

When you are building your project and runn

[2022-08-30 06:40] henninghall commented on #597
Thanks for your answer!

Oh that's nice! That would work better, but how do we know when to bump that version? When you release a new `pdftron-react-native` version, can we assume the latest PDFNet version works with that?

`pod install`

When this error happens it was possible to bump version by running `pod update PDFNet --no-repo-update` which was suggested in the error message. This doesn't re

[2022-08-30 14:44] henninghall opened #604 "`convertScreenPointsToPagePoints` returns wrong page points on Android"
**Describe the bug**
`DocumentViewManager.convertScreenPointsToPagePoints` is returning the wrong value on Android.
The value returned is offset by about 0.3-0.4 times less than expected on the devices I've tested. Scales linearly on the screen. Both x and y have the same offset factor. See the screencap below.

**Steps to Reproduce the Problem**
1. Show a PDF in a `<DocumentView/>` to cover rough

[2022-08-31 17:01] darrenchann commented on #604
Hi @henninghall

Would you be able to provide the PDF that shows the issue in the video?

[2022-09-01 16:36] henninghall commented on #604
@darrenchann sure! Here it is: https://testibinderstatic.z16.web.core.windows.net/test/A03-57-002.PDF

[2022-09-06 22:27] darrenchann commented on #604
Thanks for that @henninghall,

Would you be able to provide a sample project that replicates this issue as well? I wasn't able to reproduce this issue given the PDF, so it may be helpful to have a sample project that demonstrates this issue as well.

[2022-09-08 21:50] henninghall commented on #604
Here is a fully working sample:
Just copy paste it into the App.js file of any project with PDFtron installed.

It will look like this:

<img width="696" alt="Screenshot 2022-09-08 at 23 45 45" src="https://user-images.githubusercontent.com/1652607/189231975-9a819f99-d29d-4af9-a925-a09d76591ea5.png">

[code]

[2022-09-13 07:21] henninghall opened #607 "White flickering (reload?) when running `importAnnotations`"
**Describe the bug**

When calling `importAnnotations` a "white flickering" or some kind of reload appears before the annotations are imported (see screencap below). It happens on both Android and iOS.

On iOS the flickering can be avoided by selecting any annotation before calling `importAnnotations` (see screencap).

1. Do you have any idea why this happens?
2. Is there a way around it?

**Attem

[2022-09-19 19:50] darrenchann commented on #604
Hi @henninghall

Apologies for the delayed response, I was trying to replicate your issue and I can identify the differences between the iOS and Android viewers and how the square is being drawn from your App.js file you've provided. However, when I added new square annotations to the viewer, I've not been able to replicate the issue when the annotation isn't properly center around the mouse click

[2022-09-20 16:35] darrenchann commented on #604
Hi @henninghall

Our APIs work on screen pixel and Dimension.get() returns CSS pixels which are inspired by android's density-independent pixels.
https://medium.com/building-with-react-native/how-to-develop-responsive-uis-with-react-native-1x03-a448097c9503#95e0

To calculate Android's screen pixels, you would take the CSS pixels that Dimensions.get() returns and you would need to multiply by the

[2022-09-20 16:55] darrenchann commented on #607
Hi @henninghall

`importAnnotations` is not meant for adding annotations based on the video you've provided. The purpose of the API is to import all annotations from a remote location to the viewer when the viewer first starts up.

Is there a particular use case / user story that you're trying to achieve? If so, there may be a better API that we can recommend to you that could better accomplish wh

[2022-09-21 08:34] DHx64 opened #609 "Annotation toolbar switcher causes app to crash"
**Describe the bug**

Android app crash on toolbar menu change

**Steps to Reproduce the Problem**

1. git clone https://github.com/PDFTron/pdftron-react-native.git
2. cd pdftron-react-native/
3. yarn install
4. cd example
5. yarn install
6. yarn android
7. yarn start
8. open app on emulator
9. change toolbar mode from view to annotations
10. change toolbar mode from annotations to view

**Expecte

[2022-09-21 17:09] darrenchann commented on #609
We're looking into this issue right now and will update you with a fix when it is ready.

[2022-09-22 19:29] darrenchann commented on #609
Hi @DHx64 please refer to this PR to fix the crash issues with the view mode: https://github.com/PDFTron/pdftron-react-native/pull/611

[2022-09-27 09:34] henninghall commented on #604
Thanks a lot! The `scale` solved my initial issue.

Your example code seems not to work on all devices though, this is on a Pixel 2

<img width="379" alt="Screenshot 2022-09-27 at 11 25 39" src="https://user-images.githubusercontent.com/1652607/192488644-dac2e467-9bff-404d-b5fd-94aeabce024c.png">

Feel free to close this if you don't consider that to be important 👆

[2022-09-27 09:38] henninghall commented on #607
Okay, yeah I would like to add a annotation on the fly without using the built-in GUI for this, is that possible?

If not, do you have any idea about why the white flickering/reload happens? (I might do some deeper debugging to find a workaround since it seems technically possible to avoid this in this particular situation, at least on iOS)

[2022-10-03 18:43] darrenchann commented on #607
The flickering occurs when `update` gets called after you use importAnnotations.

Unfortunately, we currently don't support adding annotations programmatically on the fly as you may need to dive into native code to see if you can implement this into your app.

[2022-10-19 17:18] #609 closed

[2022-10-19 17:22] #602 closed

[2022-10-19 17:23] #576 closed

[2022-10-19 17:23] #531 closed

[2022-10-19 17:23] #532 closed

[2022-10-20 12:03] shessafridi opened #618 "No option to add an annotation programmatically"
**Describe the bug**
No option to add an annotation programmatically.

There is a method to delete an annotation but not for creating an annotation, I have the text selection coords now I want to create a `Annotations.TextHighlightAnnotation()` like I'm doing on the web but there is no option for it in this library.

**Expected behavior**
There should be a `createAnnotation` method to programmatic

[2022-10-20 17:22] darrenchann commented on #618
Hi @shessafridi

Please submit a ticket through our support desk for any feature requests:
https://www.pdftron.com/support/

[2022-10-20 17:25] #618 closed